app/views/about.jade
block vars
  - var title = "Quay restaurant"
  - var description = "At Quay our aim is to provide a truly memorable dining experience. An experience that celebrates the diversity of our wonderful Australian ingredients cooked with imagination and passion."
  - var page = "about"

extends partials/layout
include partials/top

block content
  +top([' {{ view.background.cssClass }} '])

  section.panel-top.white
    .container
      .panel
        h1.main-title
          | {{ view.headline }}
        p
          | {{ view.intro_copy }}

      .line

  section.container.latest-news-container
    .panel.square.right.awards-panel
      a.button(href="awards.html")
        | OUR AWARDS
    .panel.dark.left.latest-news
      .text-wrapper
        h2.title
          | LATEST NEWS
        p.news-title
          | {{ view.news_article.title }}
        time {{ view.news_article.created_at |date:"N d, Y" }}
        br
        br
        div {{ view.news_article.description | safe }}

      .line

      a.button(href="news-events.html")
        | NEWS + EVENTS
      a.button(href="reviews-media.html")
        | REVIEWS + MEDIA

  section.container.small-carousel-container
    .line.book-line

    ul.carousel-controler.inside-panel.clear-controler
      {% for book in view.books.all %}
      li(class="{% if forloop.first %}active{% endif%}")
        span
      {% endfor %}
    {% for book in view.books.all %}
    .content-carousel(class="{% if forloop.first %}active anim{% endif%}")
      .right.book-quay(class="{{ book.book_image }}")

      .panel.white.left.book-carousel
        .text-wrapper
          h2.title
            | {{ book.title }}
          h3.subtitle
            | {{ book.sub_title_line_1 }}
            .hide-desktop
            | {{ book.sub_title_line_2 }}
          .author
            | {{ book.author }}
          br
          p
            strong {{ book.sub_author }}
            {{ book.description|safe }}
          a.button(href="{{ book.link }}" target="_blank")
            | BUY THE BOOK
      .panel.dark.right.quote-wrapper
        .text-wrapper
          p.quote
            | {{ book.quote }}
          .author
            | {{ book.quote_author }}
          .line
    {% endfor %}
  section.container
    .panel.full.white.app-promo
      .text-wrapper
        .title
          | PETER GILMORE
          br
          | APP FOR iPAD
        p
          | Experience a rich interactive journey into the cuisine and philosophy of Peter Gilmore, executive chef of internationally acclaimed Sydney restaurant Quay.
        a.app-link(href="http://app.petergilmore.com.au/?at=1l3vrS7&ct=Quay" target="_blank")

  include partials/meet-the-team

  include partials/contact

app/about.html
<!DOCTYPE html>
<!-- [if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!-- [if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!-- [if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!-- [if gt IE 8]><!-->
<html ng-app="pollenApp" class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <base href="/">
    <title>Quay Restaurant</title>
    <meta name="description" content="Quay Restaurant is Australia's most awarded restaurant, and one of two Australian restaurants on the prestigious S. Pellegrino World's Top 50 List. Owned and operated by the Fink Group, the restaurant offers outstanding modern cuisine by award winning chef Peter Gilmore, and is situated in the stunning dress circle of Sydney Harbour.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui ,user-scalable=no">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="favicon-128.png" sizes="128x128">
    <meta name="google-site-verification" content="tfMV1epfpTJQ7IBfO2gNoU5-6G4IV9SB-BhD4b_mHjc">
    <meta name="keywords" content="Quay Restaurant, Fink Group, Chef Peter Gilmore, S.Pellegrino World's Top 50, Nature Based Cuisine, Functions, Weddings, Corporate Events, John Fink, Leon Fink">
    <meta property="og:title" content="Quay restaurant">
    <meta property="og:type" content="place">
    <meta property="og:description" content="At Quay our aim is to provide a truly memorable dining experience. An experience that celebrates the diversity of our wonderful Australian ingredients cooked with imagination and passion.">
    <meta property="og:site_name" content="Quay restaurant">
    <meta property="article:author" content="https://www.facebook.com/pages/Quay-Restaurant/114127581932410">
    <meta property="article:publisher" content="https://www.facebook.com/pages/Quay-Restaurant/114127581932410">
    <meta property="place:location:latitude" content="-33.858018">
    <meta property="place:location:longitude" content="151.210091">
    <meta property="og:url" content="http://www.quay.com.au">
    <meta name="twitter:image:src" content="http://www.quay.com.au/images/twitter.jpg">
    <meta property="og:image" content="http://www.quay.com.au/images/facebook.jpg">
    <!-- build:css({.tmp,app}) /styles/main.css-->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- endbuild-->
    <script type="text/javascript" src="//use.typekit.net/bmo5vxg.js"></script>
    <script>
      try{Typekit.load();}catch(e){}
      
    </script>
  </head>
  <body class="page-about">
    <!--[if lt IE 9]>
    <style>body{height: 880px !important;}#nav,#content{display:none;}*{margin: 0;}img{width: 100%;}</style>
    <a href="http://browsehappy.com/" style="display:block; text-align:center;" target="_blank"><img style="border: 0;" src="/images/ie8.jpg" /></a>
    <![endif]-->
    <div class="nav-toggle hide-desktop"><span></span><span></span><span></span></div>
    <div id="nav">
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="menu.html">MENU</a></li>
        <li class="active"><a href="about.html">ABOUT</a></li>
        <li><a href="functions.html">FUNCTIONS</a></li>
        <li><a href="contact.html">CONTACT</a></li>
        <li class="reservation"><a href="/reservation">RESERVATIONS</a></li>
      </ul>
    </div>
    <div id="content">
      <div class="top"><a href="/" class="icon-logo"></a>
        <div class="top-carousel full-bg">
          <div class="image-about active"></div>
        </div>
      </div>
      <section class="panel-top white">
        <div class="container">
          <div class="panel">
            <h1 class="main-title">ABOUT QUAY</h1>
            <p>At Quay our aim is to match the breathtaking harbour setting with quintessential modern Australian cuisine. Warm, knowledgeable, professional staff will extend genuine hospitality as they guide you through your dining experience.</p>
          </div>
          <div class="line"></div>
        </div>
      </section>
      <section class="container latest-news-container">
        <div class="panel square right awards-panel"><a href="awards.html" class="button">OUR AWARDS</a></div>
        <div class="panel dark left latest-news">
          <div class="text-wrapper">
            <h2 class="title">LATEST NEWS</h2>
            <p class="news-title">Overseas Passenger Terminal construction</p>
            <time>Sept 19, 2014</time><br><br>
            <p>During the overseas passenger terminal upgrade Quay will have modified opening hours. We will be closed for lunch Monday to Thursday and open Friday to Sunday lunch from 12pm - 2pm.</p>
          </div>
          <div class="line"></div><a href="news-events.html" class="button">NEWS + EVENTS</a><a href="reviews-media.html" class="button">REVIEWS + MEDIA</a>
        </div>
      </section>
      <section class="container small-carousel-container">
        <div class="line book-line"></div>
        <div class="content-carousel active anim">
          <div class="right book-quay book-organum"></div>
          <div class="panel white left book-carousel">
            <ul class="carousel-controler inside-panel clear-controler">
              <li class="active"><span></span></li>
              <li><span></span></li>
            </ul>
            <div class="text-wrapper">
              <h2 class="title">
                 
                ORGANUM
              </h2>
              <h3 class="subtitle">
                 
                NATURE, TEXTURE, 
                <div class="hide-desktop"></div>INTENSITY, PURITY
              </h3>
              <div class="author">PETER GILMORE</div><br>
              <p><strong>Photography by Brett Stevens. Designed by Reuben Crossman.</strong><br><br>While there is a layered complexity to world-renowned chef Peter Gilmore's ethereal - yet grounded - cuisine, his philosophy of cooking is relatively simple. Just four elements are required to create perfect unison in a dish: nature, texture, intensity and purity.<br><br>In his new book, Peter invites the reader to share in his private obsession with nature - when not in the kitchen at Sydney's Quay restaurant, he is working in his experimental garden where he grows a huge array of edible plant species. Each component of a plant, from sweet, earthy roots to bitter fronds and fragrant blossoms, is potentially destined for inclusion in one of the 40 exquisite dishes featured here. Peter also introduces us to the many influences on his cooking, and to the people who grow, catch and source key ingredients. Images include intensely beautiful food and ingredient shots, as well as producers and produce photographed on location.<br><br>Book is available at the restaurant for $100 or the book can be purchased online.</p><a style="display:none;" href="http://store.quay.com.au/organum-nature-purity-texture-intensity/" target="_blank" class="button">BUY THE BOOK</a>
            </div>
          </div>
          <div class="panel dark right quote-wrapper">
            <div class="text-wrapper">
              <p class="quote">My second book Organum delves deeper into my cuisine philosophies and celebrates some of the farmers, producers and providores who share my passion for quality produce.</p>
              <div class="author">PETER GILMORE</div>
              <div class="line"></div>
            </div>
          </div>
        </div>
        <div class="content-carousel">
          <div class="right book-quay annex-carousel"></div>
          <div class="panel white left book-carousel">
            <ul class="carousel-controler inside-panel clear-controler">
              <li><span></span></li>
              <li class="active"><span></span></li>
            </ul>
            <div class="text-wrapper">
              <h2 class="title">
                 
                QUAY
              </h2>
              <h3 class="subtitle">
                 
                FOOD INSPIRED 
                <div class="hide-desktop"></div>BY NATURE
              </h3>
              <div class="author">PETER GILMORE</div><br>
              <p><strong>Photography by Anson Smart. Designed by Reuben Crossman.</strong><br><br>From the culinary genius Peter Gilmore, one of the top 50 chefs in the world, comes this eagerly-anticipated, ground-breaking book. Quay’s stunning design and photography perfectly echoes Peter’s nature-based philosophy and the organic presentation that is synonymous with the fine dining experience at Quay . Peter’s recipes, including the irresistible eight-textured chocolate cake and his signature iridescent sea pearls, will take you on an inspirational adventure, exploring flavour, texture and technique. Start with a single component, build to a show-stopping dish, or simply enjoy the visual and culinary journey.<br><br>A signed copy of the book is available at the restaurant for $95 or the book can be purchased online.</p><a style="display:none;" href="http://store.quay.com.au/quay-food-inspired-by-nature/" target="_blank" class="button">BUY THE BOOK</a>
            </div>
          </div>
          <div class="panel dark right quote-wrapper">
            <div class="text-wrapper">
              <p class="quote">I am inspired by nature and have coined the term nature-based cuisine to describe my food. Nature offers us so much diversity - a natural elegance and beauty - and it is the organic nature of food, its textures and flavours that is at the heart of my cooking.</p>
              <div class="author">PETER GILMORE</div>
              <div class="line"></div>
            </div>
          </div>
        </div>
      </section>
      <section class="container">
        <div class="panel full white app-promo">
          <div class="text-wrapper">
            <div class="title">PETER GILMORE<br>APP FOR iPAD</div>
            <p>Experience a rich interactive journey into the cuisine and philosophy of Peter Gilmore, executive chef of internationally acclaimed Sydney restaurant Quay.</p><a href="http://app.petergilmore.com.au/?at=1l3vrS7&amp;ct=Quay" target="_blank" class="app-link"></a>
          </div>
        </div>
      </section>
      <section class="container">
        <div class="panel full team"><a href="our-team.html" class="button">MEET THE TEAM</a></div>
      </section>
      <section class="container">
        <div class="panel full contact">
          <div class="left">
            <p class="address">Upper Level,<br>Overseas Passenger Terminal<br>The Rocks, Sydney 2000</p>
          </div>
          <div class="right"><a href="tel:+61-2-9251-5600" class="tel">(61 2) 9251 5600</a><br><br><br><strong>Lunch service </strong>
            <p>Friday to Sunday from 12pm - 2pm</p><br><strong>Dinner service</strong>
            <p>Daily from 6pm - 10pm</p>
          </div>
          <div class="line"></div>
        </div>
      </section>
      <div class="footer">
        <div class="icon-logo"></div>
        <ul class="footer-nav">
          <li><a href="/reservation">Reservations</a></li>
          <li><a href="functions.html">Functions</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="reviews-media.html">Reviews & Media</a></li>
        </ul>
        <ul class="social">
          <li><a href="http://instagram.com/quayrestaurant" target="_blank"><span class="icon-instagram"></span></a></li>
          <li><a href="http://www.youtube.com/user/QuaySydney" target="_blank"><span class="icon-play"></span></a></li>
        </ul>
        <div class="legal">© Quay Restaurant.<br>Site by <a href="http://www.pollen.com.au/" target="_blank">Pollen. </a>Photography by <a href="http://www.brettstevensphotography.com/" target="_blank">Brett Stevens.</a></div>
      </div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-6526479-13', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
      
      // Google Code for Remarketing Tag
      /* <![CDATA[ */
      var google_conversion_id = 965355358;
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;
      /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
    <noscript>
      <div style="display:inline;"><img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/965355358/?value=0&amp;guid=ON&amp;script=0"></div>
    </noscript>
    <!-- build:js(app) /scripts/vendor.js-->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/fastclick/lib/fastclick.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/pickadate/lib/picker.js"></script>
    <script src="/bower_components/pickadate/lib/picker.date.js"></script>
    <script src="/bower_components/fitvids/jquery.fitvids.js"></script>
    <!-- endbuild-->
    
    <!-- build:js({.tmp,app}) /scripts/scripts.js-->
    <script src="/scripts/raf.js"></script>
    <script src="/scripts/router.js"></script>
    <script src="/scripts/prettyembed.js"></script>
    <script src="/scripts/popup.js"></script>
    <script src="/scripts/carousel.js"></script>
    <script src="/scripts/menu.js"></script>
    <script src="/scripts/nav.js"></script>
    <script src="/scripts/collapse.js"></script>
    <script src="/scripts/map.js"></script>
    <script src="/scripts/main.js"></script>
    <script src="/scripts/reservation.js"></script>
    <script src="/scripts/selectordie.js"></script>
    <!-- endbuild-->
  </body>
</html>
