app/contact.html
<!DOCTYPE html>
<!-- [if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!-- [if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!-- [if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!-- [if gt IE 8]><!-->
<html ng-app="pollenApp" class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <base href="/">
    <title>Quay Restaurant</title>
    <meta name="description" content="Quay Restaurant is Australia's most awarded restaurant, and one of two Australian restaurants on the prestigious S. Pellegrino World's Top 50 List. Owned and operated by the Fink Group, the restaurant offers outstanding modern cuisine by award winning chef Peter Gilmore, and is situated in the stunning dress circle of Sydney Harbour.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui ,user-scalable=no">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="favicon-128.png" sizes="128x128">
    <meta name="google-site-verification" content="tfMV1epfpTJQ7IBfO2gNoU5-6G4IV9SB-BhD4b_mHjc">
    <meta name="keywords" content="Quay Restaurant, Fink Group, Chef Peter Gilmore, S.Pellegrino World's Top 50, Nature Based Cuisine, Functions, Weddings, Corporate Events, John Fink, Leon Fink">
    <meta property="og:title" content="Quay restaurant">
    <meta property="og:type" content="place">
    <meta property="og:description" content="At Quay our aim is to provide a truly memorable dining experience. An experience that celebrates the diversity of our wonderful Australian ingredients cooked with imagination and passion.">
    <meta property="og:site_name" content="Quay restaurant">
    <meta property="article:author" content="https://www.facebook.com/pages/Quay-Restaurant/114127581932410">
    <meta property="article:publisher" content="https://www.facebook.com/pages/Quay-Restaurant/114127581932410">
    <meta property="place:location:latitude" content="-33.858018">
    <meta property="place:location:longitude" content="151.210091">
    <meta property="og:url" content="http://www.quay.com.au">
    <meta name="twitter:image:src" content="http://www.quay.com.au/images/twitter.jpg">
    <meta property="og:image" content="http://www.quay.com.au/images/facebook.jpg">
    <!-- build:css({.tmp,app}) /styles/main.css-->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- endbuild-->
    <script type="text/javascript" src="//use.typekit.net/bmo5vxg.js"></script>
    <script>
      try{Typekit.load();}catch(e){}
      
    </script>
  </head>
  <body class="page-contact">
    <!--[if lt IE 9]>
    <style>body{height: 880px !important;}#nav,#content{display:none;}*{margin: 0;}img{width: 100%;}</style>
    <a href="http://browsehappy.com/" style="display:block; text-align:center;" target="_blank"><img style="border: 0;" src="/images/ie8.jpg" /></a>
    <![endif]-->
    <div class="nav-toggle hide-desktop"><span></span><span></span><span></span></div>
    <div id="nav">
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="menu.html">MENU</a></li>
        <li><a href="about.html">ABOUT</a></li>
        <li><a href="functions.html">FUNCTIONS</a></li>
        <li class="active"><a href="contact.html">CONTACT</a></li>
        <li class="reservation"><a href="/reservation">RESERVATIONS</a></li>
      </ul>
    </div>
    <div id="content">
      <div class="top"><a href="/" class="icon-logo"></a>
        <div class="top-carousel full-bg fix-top">
          <div class="image-contact active"></div>
        </div>
      </div>
      <section class="panel-top white">
        <div class="container">
          <div class="panel full">
            <h1 class="main-title letter-offset">CONTACT</h1>
            <div class="contact">
              <div class="left">
                <p class="address">Upper Level,<br>Overseas Passenger Terminal<br>The Rocks, Sydney 2000</p>
              </div>
              <div class="right"><a href="tel:+61-2-9251-5600" class="tel">(61 2) 9251 5600</a><br><br><strong>Fax</strong><br><a href="tel:+61-2-9241-4901">(61 2) 9241 4901</a><br><br><strong>Email</strong><br><a href="mailto:reservations@quay.com.au" class="email">reservations@quay.com.au</a></div>
              <div class="line"></div>
            </div>
          </div>
        </div>
      </section>
      <div class="map hideMobilebg"><a href="https://www.google.com.au/maps/dir//Quay,+Upper+Level,+Overseas+Passenger+Terminal+5+Hickson+Road,+The+Rocks+NSW+2000/@-33.858018,151.210091,15z/data=!4m12!1m3!3m2!1s0x0:0x82c7353ae345421d!2sQuay!4m7!1m0!1m5!1m1!1s0x6b12ae42aba76ad3:0x82c7353ae345421d!2m2!1d151.210091!2d-33.858018" target="_blank" class="mobilemap hide-desktop"><img src="../images/bg/bg-map-750.jpg"></a><a href="https://www.google.com.au/maps/dir//Quay,+Upper+Level,+Overseas+Passenger+Terminal+5+Hickson+Road,+The+Rocks+NSW+2000/@-33.858018,151.210091,15z/data=!4m12!1m3!3m2!1s0x0:0x82c7353ae345421d!2sQuay!4m7!1m0!1m5!1m1!1s0x6b12ae42aba76ad3:0x82c7353ae345421d!2m2!1d151.210091!2d-33.858018" target="_blank" class="marker">
          <div class="icon-logo"></div>
          <div class="info">Get directions</div></a>
        <div class="container">
          <div class="panel white service">
            <h2 class="title letter-offset">OPENING HOURS</h2><strong>Lunch service </strong>
            <p>Friday to Sunday from 12pm - 2pm</p><br><strong>Dinner service</strong>
            <p>Open daily from 6pm - 10pm</p>
          </div>
          <div class="panel square right functions"><a href="functions.html" class="button">FUNCTIONS</a></div>
          <div class="panel white panel-reservation">
            <div class="text-wrapper">
              <h2 class="title">RESERVATIONS</h2>
              <p>The reservations office is open from 1.30pm - 5pm on Monday and 10am - 5pm Tuesday to Friday.<br><br>Alternatively, you can submit an online booking.</p>
            </div><a href="/reservation" class="button">BOOK ONLINE</a>
          </div>
          <div class="panel dark right pattern-gray">
            <div class="text-wrapper">
              <h2 class="title letter-offset">GIFT
                <div class="offset-negative">VOUCHERS</div>
              </h2>
              <p>If giving the gift of an unforgettable food and wine experience is on your Christmas shopping list this year, then look no further than a gift voucher for Quay.</p>
            </div><a href="/static/quay_gift_voucher.pdf" target="_blank" class="button tablet-push-down">BUY A VOUCHER</a>
          </div>
        </div>
      </div>
      <div class="image-contact tofixBg">
        <div class="container">
          <div class="panel white full parking-panel">
            <div class="parking-hours">
              <h2 class="title letter-offset">CAR PARKING</h2>
              <p>Car parking operations of the Overseas Passenger Terminal car park are managed by Wilson Parking.</p><br>
              <table>
                <tr>
                  <th>Day</th>
                  <th>Operating Hours</th>
                </tr>
                <tr>
                  <td>Mon-Wed</td>
                  <td>6.30am - 10pm <span class="hide-mobile">(manned until 8pm)</span></td>
                </tr>
                <tr>
                  <td>Thu-Fri</td>
                  <td>6.30am - midnight <span class="hide-mobile">(manned until 10pm)</span></td>
                </tr>
                <tr>
                  <td>Sat</td>
                  <td>8am - midnight <span class="hide-mobile">(manned until 10pm)</span></td>
                </tr>
                <tr>
                  <td>Sun</td>
                  <td>8am - midnight <span class="hide-mobile">(manned until 8pm)</span></td>
                </tr>
              </table><br><br>
              <p><strong>There is no parking available on ship days at the terminal.</strong></p>
            </div>
            <div class="parking-rate">
              <h3 class="subtitle">PARKING RATES</h3>
              <table>
                <tr>
                  <th>Hours</th>
                  <th>Rate</th>
                </tr>
                <tr>
                  <td>0 - 0.5 hr</td>
                  <td>$7.00</td>
                </tr>
                <tr>
                  <td>0.5 - 1.0 hr</td>
                  <td>$22.00</td>
                </tr>
                <tr>
                  <td>1.0 - 2.0 hrs</td>
                  <td>$45.00</td>
                </tr>
                <tr>
                  <td>2.0 - 3.0 hrs</td>
                  <td>$55.00</td>
                </tr>
                <tr>
                  <td>3.0 - 4.0 hrs</td>
                  <td>$65.00</td>
                </tr>
                <tr>
                  <td>4+ hrs</td>
                  <td>$65.00</td>
                </tr>
                <tr>
                  <td>Nights (entry after 6pm)</td>
                  <td>$25.00</td>
                </tr>
                <tr>
                  <td>Saturday</td>
                  <td>$25.00</td>
                </tr>
                <tr>
                  <td>Sunday</td>
                  <td>$25.00</td>
                </tr>
                <tr>
                  <td>Earlybird (before 9:30am)</td>
                  <td>$30.00</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <section class="container">
          <div class="panel full employment-panel"><a href="employment.html" class="button">EMPLOYMENT</a></div>
        </section>
        <div class="container">
          <section class="panel white full panel-enquiries">
            <h2 class="title letter-offset">OTHER ENQUIRIES</h2>
            <div class="line"></div>
            <div class="two-columns">
              <div class="column left">
                <h3 class="subtitle">FUNCTION BOOKINGS</h3><br>
                <p>Michelle Cook / Functions Manager</p><br>
                <p>Phone: (61 2) 9241 4565<br>Fax: (61 2) 9241 4901<br>Email: <a href="mailto:functions@quay.com.au">functions@quay.com.au</a></p>
              </div>
              <div class="column left">
                <h3 class="subtitle">OPERATIONS</h3><br>
                <p>Kylie Ball / General Manager</p><br>
                <p>Phone: (61 2) 9241 4565<br>Fax: (61 2) 9241 4901<br>Email: <a href="mailto:operations@quay.com.au">operations@quay.com.au</a></p>
              </div>
            </div>
            <div class="two-columns">
              <div class="column left">
                <h3 class="subtitle">SOMMELIER</h3><br>
                <p>Amanda Yallop / Head Sommelier</p><br>
                <p>Phone: (61 2) 9241 4565<br>Fax: (61 2) 9241 4901<br>Email: <a href="mailto:sommelier@quay.com.au">sommelier@quay.com.au</a></p>
              </div>
              <div class="column left">
                <h3 class="subtitle">CHEF</h3><br>
                <p>Peter Gilmore / Executive Chef</p><br>
                <p>Email: <a href="mailto:operations@quay.com.au">operations@quay.com.au</a></p>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="footer">
        <div class="icon-logo"></div>
        <ul class="footer-nav">
          <li><a href="/reservation">Reservations</a></li>
          <li><a href="functions.html">Functions</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="reviews-media.html">Reviews & Media</a></li>
        </ul>
        <ul class="social">
          <li><a href="http://instagram.com/quayrestaurant" target="_blank"><span class="icon-instagram"></span></a></li>
          <li><a href="http://www.youtube.com/user/QuaySydney" target="_blank"><span class="icon-play"></span></a></li>
        </ul>
        <div class="legal">© Quay Restaurant.<br>Site by <a href="http://www.pollen.com.au/" target="_blank">Pollen. </a>Photography by <a href="http://www.brettstevensphotography.com/" target="_blank">Brett Stevens.</a></div>
      </div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-6526479-13', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
      
      // Google Code for Remarketing Tag
      /* <![CDATA[ */
      var google_conversion_id = 965355358;
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;
      /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
    <noscript>
      <div style="display:inline;"><img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/965355358/?value=0&amp;guid=ON&amp;script=0"></div>
    </noscript>
    <!-- build:js(app) /scripts/vendor.js-->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/fastclick/lib/fastclick.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/pickadate/lib/picker.js"></script>
    <script src="/bower_components/pickadate/lib/picker.date.js"></script>
    <script src="/bower_components/fitvids/jquery.fitvids.js"></script>
    <!-- endbuild-->
    
    <!-- build:js({.tmp,app}) /scripts/scripts.js-->
    <script src="/scripts/raf.js"></script>
    <script src="/scripts/router.js"></script>
    <script src="/scripts/prettyembed.js"></script>
    <script src="/scripts/popup.js"></script>
    <script src="/scripts/carousel.js"></script>
    <script src="/scripts/menu.js"></script>
    <script src="/scripts/nav.js"></script>
    <script src="/scripts/collapse.js"></script>
    <script src="/scripts/map.js"></script>
    <script src="/scripts/main.js"></script>
    <script src="/scripts/reservation.js"></script>
    <script src="/scripts/selectordie.js"></script>
    <!-- endbuild-->
  </body>
</html>

app/views/contact.jade
block vars
  - var title = "Quay restaurant"
  - var description = "At Quay our aim is to provide a truly memorable dining experience. An experience that celebrates the diversity of our wonderful Australian ingredients cooked with imagination and passion."
  - var page = "contact"

extends partials/layout
include partials/top

block content
  +top('{{ contactpage.background }}', true)

  section.panel-top.white
    .container
      .panel.full
        h1.main-title.letter-offset
          | CONTACT
        .contact
          .left
            p.address
              | {{ contact.address_line_1 }}
              br
              | {{ contact.address_line_2 }}
              br
              | {{ contact.address_line_3 }}

          .right
            a.tel(href="tel:+{{ contact.tel }}") {{ contact.tel }}
            br
            br
            strong Fax
            br
            a(href="tel:+{{ contact.fax }}") {{ contact.fax }}
            br
            br
            strong Email
            br
            a.email(href="mailto:{{ contact.email }}") {{ contact.email }}


          .line


  .map.hideMobilebg
    a.mobilemap.hide-desktop(href="https://www.google.com.au/maps/dir//Quay,+Upper+Level,+Overseas+Passenger+Terminal+5+Hickson+Road,+The+Rocks+NSW+2000/@-33.858018,151.210091,15z/data=!4m12!1m3!3m2!1s0x0:0x82c7353ae345421d!2sQuay!4m7!1m0!1m5!1m1!1s0x6b12ae42aba76ad3:0x82c7353ae345421d!2m2!1d151.210091!2d-33.858018" target="_blank")
      img(src="../static/images/bg/bg-map-750.jpg")
    a.marker(href="https://www.google.com.au/maps/dir//Quay,+Upper+Level,+Overseas+Passenger+Terminal+5+Hickson+Road,+The+Rocks+NSW+2000/@-33.858018,151.210091,15z/data=!4m12!1m3!3m2!1s0x0:0x82c7353ae345421d!2sQuay!4m7!1m0!1m5!1m1!1s0x6b12ae42aba76ad3:0x82c7353ae345421d!2m2!1d151.210091!2d-33.858018" target="_blank")
      .icon-logo
      .info
        | Get directions
    .container
      .panel.white.service
          h2.title.letter-offset OPENING HOURS
          strong Lunch service
          p {{ openingHours.lunch_service }}
          br
          strong Dinner service
          p {{ openingHours.dinner_service }}
      .panel.square.right.functions
        a.button(href="functions")
          | FUNCTIONS

      .panel.white.panel-reservation
        .text-wrapper
          h2.title RESERVATIONS
          {{contactpage.reservation_copy | safe}}

        a.button(href="/reservation")
          | BOOK ONLINE

      .panel.dark.right.pattern-gray
        .text-wrapper
          h2.title.letter-offset
            | GIFT
            .offset-negative VOUCHERS
          {{contactpage.gift_voucher_copy | safe}}

        a.button.tablet-push-down(href="http://store.quay.com.au/gift-voucher/" target="_blank")
          | BUY A VOUCHER

  .image-contact.tofixBg
    .container
      .panel.white.full.parking-panel
        .parking-hours
          h2.title.letter-offset
            | CAR PARKING
          p
            | Car parking operations of the Overseas Passenger Terminal car park are managed by Wilson Parking.
          br
          table
            tr
              th Day
              th Operating Hours
            tr
              td Mon-Wed
              td
                | 6.30am - 10pm
                span.hide-mobile (manned until 8pm)
            tr
              td Thu-Fri
              td
                | 6.30am - midnight
                span.hide-mobile (manned until 10pm)
            tr
              td Sat
              td
                | 8am - midnight
                span.hide-mobile (manned until 10pm)
            tr
              td Sun
              td
                | 8am - midnight
                span.hide-mobile (manned until 8pm)

          br
          br
          p
            strong There is no parking available on ship days at the terminal.

        .parking-rate
          h3.subtitle PARKING RATES
          table
            tr
              th Hours
              th Rate
            tr
              td 0 - 0.5 hr
              td $7.00
            tr
              td 0.5 - 1.0 hr
              td $22.00
            tr
              td 1.0 - 2.0 hrs
              td $45.00
            tr
              td 2.0 - 3.0 hrs
              td $55.00
            tr
              td 3.0 - 4.0 hrs
              td $65.00
            tr
              td 4+ hrs
              td $65.00
            tr
              td Nights (entry after 6pm)
              td $25.00
            tr
              td Saturday
              td $25.00
            tr
              td Sunday
              td $25.00
            tr
              td Earlybird (before 9:30am)
              td $30.00

    include partials/employment

    .container
      section.panel.white.full.panel-enquiries
        h2.title.letter-offset OTHER ENQUIRIES
        .line
        {% load listutil %}

        .two-columns
          {% for specialcontact in contactpage.contacts.all|partition:"2"|first %}
          .column.left
            h3.subtitle {{specialcontact.title}}
            br
            p {{specialcontact.name}} / {{specialcontact.function}}
            br
            p
              {% if specialcontact.phone != '' %}
              | Phone: {{specialcontact.phone}}
              {% endif %}
              {% if specialcontact.fax != '' %}
              br
              | Fax: {{specialcontact.fax}}
              br
              {% endif %}
              | Email:
              a(href="mailto:{{specialcontact.email}}") {{specialcontact.email}}
          {% endfor %}
        .two-columns
          {% for specialcontact in contactpage.contacts.all|partition:"2"|last %}
          .column.left
            h3.subtitle {{specialcontact.title}}
            br
            p {{specialcontact.name}} / {{specialcontact.function}}
            br
            p
              {% if specialcontact.phone != '' %}
              | Phone: {{specialcontact.phone}}
              {% endif %}
              {% if specialcontact.fax != '' %}
              br
              | Fax: {{specialcontact.fax}}
              br
              {% endif %}
              | Email:
              a(href="mailto:{{specialcontact.email}}") {{specialcontact.email}}
          {% endfor %}
