app/views/food-philosophy.jade
block vars
  - var title = "Quay restaurant"
  - var description = "At Quay our aim is to provide a truly memorable dining experience. An experience that celebrates the diversity of our wonderful Australian ingredients cooked with imagination and passion."
  - var page = "philosophy footer-over-bg"

extends partials/layout
include partials/top

block content
  +top('{{ foodPhilosophy.background }}', true)

  .panel-top.white
    .container
      .panel
        h1.main-title {{ foodPhilosophy.headline | safe }}
        p {{ foodPhilosophy.intro_copy }}
      .video-container
        #video-philosophy
      .panel
        {{ foodPhilosophy.intro_copy2 | safe }}
      .line

  section.image-philosophy-02.tofixBg
    .container
      .panel.white
        .text-wrapper
          h2.title 
            | NATURE
          p {{ foodPhilosophy.nature }}
      .video-container.right
        .fake-video.video-philosophy-nature
      .line.between-line

      .panel.white.right
        .text-wrapper
          h2.title 
            | TEXTURE
          p {{ foodPhilosophy.texture }}
      .video-container
        .fake-video.video-philosophy-texture

  section.image-philosophy-03.urchin.tofixBg
    .container
      .panel.white
        .text-wrapper
          h2.title 
            | INTENSITY
          p {{ foodPhilosophy.intensity }}
      .video-container.right
        .fake-video.video-philosophy-intensity
      .line.between-line

      .panel.white.right
        .text-wrapper
          h2.title 
            | PURITY
          p {{ foodPhilosophy.purity }}
      .video-container
        .fake-video.video-philosophy-purity
    

    include partials/contact

app/food-philosophy.html
<!DOCTYPE html>
<!-- [if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!-- [if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!-- [if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!-- [if gt IE 8]><!-->
<html ng-app="pollenApp" class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <base href="/">
    <title>Quay Restaurant</title>
    <meta name="description" content="Quay Restaurant is Australia's most awarded restaurant, and one of two Australian restaurants on the prestigious S. Pellegrino World's Top 50 List. Owned and operated by the Fink Group, the restaurant offers outstanding modern cuisine by award winning chef Peter Gilmore, and is situated in the stunning dress circle of Sydney Harbour.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui ,user-scalable=no">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="favicon-128.png" sizes="128x128">
    <meta name="google-site-verification" content="tfMV1epfpTJQ7IBfO2gNoU5-6G4IV9SB-BhD4b_mHjc">
    <meta name="keywords" content="Quay Restaurant, Fink Group, Chef Peter Gilmore, S.Pellegrino World's Top 50, Nature Based Cuisine, Functions, Weddings, Corporate Events, John Fink, Leon Fink">
    <meta property="og:title" content="Quay restaurant">
    <meta property="og:type" content="place">
    <meta property="og:description" content="At Quay our aim is to provide a truly memorable dining experience. An experience that celebrates the diversity of our wonderful Australian ingredients cooked with imagination and passion.">
    <meta property="og:site_name" content="Quay restaurant">
    <meta property="article:author" content="https://www.facebook.com/pages/Quay-Restaurant/114127581932410">
    <meta property="article:publisher" content="https://www.facebook.com/pages/Quay-Restaurant/114127581932410">
    <meta property="place:location:latitude" content="-33.858018">
    <meta property="place:location:longitude" content="151.210091">
    <meta property="og:url" content="http://www.quay.com.au">
    <meta name="twitter:image:src" content="http://www.quay.com.au/images/twitter.jpg">
    <meta property="og:image" content="http://www.quay.com.au/images/facebook.jpg">
    <!-- build:css({.tmp,app}) /styles/main.css-->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- endbuild-->
    <script type="text/javascript" src="//use.typekit.net/bmo5vxg.js"></script>
    <script>
      try{Typekit.load();}catch(e){}
      
    </script>
  </head>
  <body class="page-philosophy footer-over-bg">
    <!--[if lt IE 9]>
    <style>body{height: 880px !important;}#nav,#content{display:none;}*{margin: 0;}img{width: 100%;}</style>
    <a href="http://browsehappy.com/" style="display:block; text-align:center;" target="_blank"><img style="border: 0;" src="/images/ie8.jpg" /></a>
    <![endif]-->
    <div class="nav-toggle hide-desktop"><span></span><span></span><span></span></div>
    <div id="nav">
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="menu.html">MENU</a></li>
        <li><a href="about.html">ABOUT</a></li>
        <li><a href="functions.html">FUNCTIONS</a></li>
        <li><a href="contact.html">CONTACT</a></li>
        <li class="reservation"><a href="/reservation">RESERVATIONS</a></li>
      </ul>
    </div>
    <div id="content">
      <div class="top"><a href="/" class="icon-logo"></a>
        <div class="top-carousel full-bg fix-top">
          <div class="image-philosophy-01 active"></div>
        </div>
      </div>
      <div class="panel-top white">
        <div class="container">
          <div class="panel">
            <h1 class="main-title">FOOD<br>PHILOSOPHY</h1>
            <p>My aim is to create original, beautifully crafted food that is inspired by nature, texture, intensity and purity. These four elements inform my approach to cooking. Nature’s incredible diversity inspires my work. My test garden is where I can observe the life cycle of plants and test different varieties of heirloom and rare plants. This gives me unique raw materials, different flavours, textures and colours to work with. I then work closely with growers and farmers to produce beautiful bespoke produce on a larger scale for the restaurant. This direct approach of working closely with farmers has been successful for many years now.</p>
          </div>
          <div class="video-container">
            <div id="video-philosophy"></div>
          </div>
          <div class="panel">
            <p>Texture has long been the most important element in the development of my dishes. Texture’s role in the sensory nature of eating cannot be understated. How texture’s work together and bring pleasure to the palate is paramount in my mind when creating a new dish.<br><br>Intensity of flavour where strong, clear, natural flavours are at the fore and where flavours build on each other and harmonise to create distinctive flavour memories is my objective.<br><br>For me purity represents harmony and balance; when all the elements in a dish come together to create something special. It is when textures and flavours are aligned and create something greater than the sum of their parts – something new, something pure. <br><br>When I create a new dish I draw upon my life experiences, taste memories and my imagination. I’m guided and informed by my food philosophy and aim to create dishes that are unique. </p>
          </div>
          <div class="line"></div>
        </div>
      </div>
      <section class="image-philosophy-02 tofixBg">
        <div class="container">
          <div class="panel white">
            <div class="text-wrapper">
              <h2 class="title">
                 
                NATURE
              </h2>
              <p>Nature and the natural world is such a strong inspiration for many of my dishes. Working my own test garden over the last 9 years I have developed a deep appreciation and wonder for nature. The intricacies of the life cycle of plants, their various forms, shapes, textures and flavours, provide an endless range of possibilities. One of my aims is to reflect nature’s beauty and sense of wonder in my dishes. </p>
            </div>
          </div>
          <div class="video-container right">
            <div class="fake-video video-philosophy-nature"></div>
          </div>
          <div class="line between-line"></div>
          <div class="panel white right">
            <div class="text-wrapper">
              <h2 class="title">
                 
                TEXTURE
              </h2>
              <p>Texture has long been one of the most important elements in the development of my dishes. Texture’s role in the pleasure it brings the palate cannot be underestimated. As an example I always think what is the most pleasurable thing about eating ice cream? Is it the flavour or is it the texture and mouth feel that we respond to? Getting the degrees of texture right within a dish and how texture can be combined and layered to bring pleasure to the eating experience is a powerful skill to master. The role of texture is of paramount importance in many traditional Asian cuisines. The influence of which has informed my food in a profound way.</p>
            </div>
          </div>
          <div class="video-container">
            <div class="fake-video video-philosophy-texture"></div>
          </div>
        </div>
      </section>
      <section class="image-philosophy-03 urchin tofixBg">
        <div class="container">
          <div class="panel white">
            <div class="text-wrapper">
              <h2 class="title">
                 
                INTENSITY
              </h2>
              <p>The flavour intensity of a dish has the power to transport you. Along with aroma the sense of taste can stir memories of time, place and feelings. The impact of a particular flavour or smell can last in your memory for an incredibly long time. For me, the skill of a chef to intensify and blend flavours to create a new sensation is akin to alchemy. </p>
            </div>
          </div>
          <div class="video-container right">
            <div class="fake-video video-philosophy-intensity"></div>
          </div>
          <div class="line between-line"></div>
          <div class="panel white right">
            <div class="text-wrapper">
              <h2 class="title">
                 
                PURITY
              </h2>
              <p>What I mean by purity is a sense of balance and harmony within a dish. When all the elements come together perfectly, when the selection of ingredients and the nature of those ingredients are fully expressed through considered technique. Purity is the magic that happens when all the parts and components of a dish come together and create something new …. something pure. </p>
            </div>
          </div>
          <div class="video-container">
            <div class="fake-video video-philosophy-purity"></div>
          </div>
        </div>
        <section class="container">
          <div class="panel full contact">
            <div class="left">
              <p class="address">Upper Level,<br>Overseas Passenger Terminal<br>The Rocks, Sydney 2000</p>
            </div>
            <div class="right"><a href="tel:+61-2-9251-5600" class="tel">(61 2) 9251 5600</a><br><br><br><strong>Lunch service </strong>
              <p>Friday to Sunday from 12pm - 2pm</p><br><strong>Dinner service</strong>
              <p>Daily from 6pm - 10pm</p>
            </div>
            <div class="line"></div>
          </div>
        </section>
      </section>
      <div class="footer">
        <div class="icon-logo"></div>
        <ul class="footer-nav">
          <li><a href="/reservation">Reservations</a></li>
          <li><a href="functions.html">Functions</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="reviews-media.html">Reviews & Media</a></li>
        </ul>
        <ul class="social">
          <li><a href="http://instagram.com/quayrestaurant" target="_blank"><span class="icon-instagram"></span></a></li>
          <li><a href="http://www.youtube.com/user/QuaySydney" target="_blank"><span class="icon-play"></span></a></li>
        </ul>
        <div class="legal">© Quay Restaurant.<br>Site by <a href="http://www.pollen.com.au/" target="_blank">Pollen. </a>Photography by <a href="http://www.brettstevensphotography.com/" target="_blank">Brett Stevens.</a></div>
      </div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-6526479-13', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
      
      // Google Code for Remarketing Tag
      /* <![CDATA[ */
      var google_conversion_id = 965355358;
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;
      /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
    <noscript>
      <div style="display:inline;"><img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/965355358/?value=0&amp;guid=ON&amp;script=0"></div>
    </noscript>
    <!-- build:js(app) /scripts/vendor.js-->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/fastclick/lib/fastclick.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/pickadate/lib/picker.js"></script>
    <script src="/bower_components/pickadate/lib/picker.date.js"></script>
    <script src="/bower_components/fitvids/jquery.fitvids.js"></script>
    <!-- endbuild-->
    
    <!-- build:js({.tmp,app}) /scripts/scripts.js-->
    <script src="/scripts/raf.js"></script>
    <script src="/scripts/router.js"></script>
    <script src="/scripts/prettyembed.js"></script>
    <script src="/scripts/popup.js"></script>
    <script src="/scripts/carousel.js"></script>
    <script src="/scripts/menu.js"></script>
    <script src="/scripts/nav.js"></script>
    <script src="/scripts/collapse.js"></script>
    <script src="/scripts/map.js"></script>
    <script src="/scripts/main.js"></script>
    <script src="/scripts/reservation.js"></script>
    <script src="/scripts/selectordie.js"></script>
    <!-- endbuild-->
  </body>
</html>
