app/functions.html
<!DOCTYPE html>
<!-- [if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!-- [if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!-- [if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!-- [if gt IE 8]><!-->
<html ng-app="pollenApp" class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <base href="/">
    <title>Quay Restaurant</title>
    <meta name="description" content="Quay Restaurant is Australia's most awarded restaurant, and one of two Australian restaurants on the prestigious S. Pellegrino World's Top 50 List. Owned and operated by the Fink Group, the restaurant offers outstanding modern cuisine by award winning chef Peter Gilmore, and is situated in the stunning dress circle of Sydney Harbour.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui ,user-scalable=no">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="favicon-128.png" sizes="128x128">
    <meta name="google-site-verification" content="tfMV1epfpTJQ7IBfO2gNoU5-6G4IV9SB-BhD4b_mHjc">
    <meta name="keywords" content="Quay Restaurant, Fink Group, Chef Peter Gilmore, S.Pellegrino World's Top 50, Nature Based Cuisine, Functions, Weddings, Corporate Events, John Fink, Leon Fink">
    <meta property="og:title" content="Quay restaurant">
    <meta property="og:type" content="place">
    <meta property="og:description" content="At Quay our aim is to provide a truly memorable dining experience. An experience that celebrates the diversity of our wonderful Australian ingredients cooked with imagination and passion.">
    <meta property="og:site_name" content="Quay restaurant">
    <meta property="article:author" content="https://www.facebook.com/pages/Quay-Restaurant/114127581932410">
    <meta property="article:publisher" content="https://www.facebook.com/pages/Quay-Restaurant/114127581932410">
    <meta property="place:location:latitude" content="-33.858018">
    <meta property="place:location:longitude" content="151.210091">
    <meta property="og:url" content="http://www.quay.com.au">
    <meta name="twitter:image:src" content="http://www.quay.com.au/images/twitter.jpg">
    <meta property="og:image" content="http://www.quay.com.au/images/facebook.jpg">
    <!-- build:css({.tmp,app}) /styles/main.css-->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- endbuild-->
    <script type="text/javascript" src="//use.typekit.net/bmo5vxg.js"></script>
    <script>
      try{Typekit.load();}catch(e){}
      
    </script>
  </head>
  <body class="page-functions">
    <!--[if lt IE 9]>
    <style>body{height: 880px !important;}#nav,#content{display:none;}*{margin: 0;}img{width: 100%;}</style>
    <a href="http://browsehappy.com/" style="display:block; text-align:center;" target="_blank"><img style="border: 0;" src="/images/ie8.jpg" /></a>
    <![endif]-->
    <div class="nav-toggle hide-desktop"><span></span><span></span><span></span></div>
    <div id="nav">
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="menu.html">MENU</a></li>
        <li><a href="about.html">ABOUT</a></li>
        <li class="active"><a href="functions.html">FUNCTIONS</a></li>
        <li><a href="contact.html">CONTACT</a></li>
        <li class="reservation"><a href="/reservation">RESERVATIONS</a></li>
      </ul>
    </div>
    <div id="content">
      <div class="top"><a href="/" class="icon-logo"></a>
        <div class="top-carousel full-bg fix-top">
          <div class="image-functions-01 active"></div>
        </div>
      </div>
      <div class="panel-top white">
        <div class="container">
          <div class="panel">
            <h1 class="main-title">FUNCTIONS</h1>
            <p>Quay hosts some of the country’s most exclusive private functions.  <br><br>We have different areas to cater for the function that you need whether you are looking to host an intimate dinner for 2 or a stylish cocktail party for 300.</p>
          </div>
          <div class="line"></div>
        </div>
      </div>
      <div class="collapse-panel">
        <div class="bg image-functions-uppertower">
          <div class="container collapsible">
            <div class="toggle-panel">
              <h2 class="title">UPPER TOWER</h2>
              <div class="collapse-indicators">
                <div class="on">SHOW</div>
                <div class="off">HIDE</div>
              </div>
            </div>
            <div class="toggle-content">
              <div class="panel white left">
                <p>Quay’s Upper Tower is Sydney’s most spectacular dining room and possibly one of the most impressive and inspiring restaurant experiences in the world.<br><br>In this delightfully intimate setting, floor to ceiling glass walls provide jaw-dropping views of Sydney Harbour that astonish even those familiar with its exceptional sights and sounds.<br><br>Experience an exquisite meal from Australia’s top chef, while the life of the world’s most stunning harbour city floats by outside. Your view of passing historical ferries, luxury liners and Sydney’s quirky local watercraft dotting Circular Quay, is bordered by the iconic Sydney Opera House on one side and the Harbour Bridge on the other, an endless maritime panorama with the city as a glittering backdrop.<br><br>Function menus reflect the current restaurant menu and feature from a selection of four entreés, four main courses and four dessert choices, each dish an embodiment of Quay’s food philosophy.<br><br>An intimate dinner, a business lunch or an important celebration are immediately given a whole new level of style and quality when hosted in the Upper Tower.</p>
                <div class="line"></div>
                <p>Exclusive Use Conditions and Capacity <br><br>Sit down lunch/dinner - 32 pax<br><br>A minimum spend requirement for exclusive use of the Upper Tower starts from $3,500 for lunch and $5,000 for dinner.<br><br>Please note, that the November/December Lunch rate is $4000 and the Dinner rate is $5000.</p>
              </div>
              <div class="panel square right small-carousel-container">
                <div class="content-carousel uppertower-01 active"></div>
                <div class="content-carousel uppertower-02"></div>
                <div class="content-carousel uppertower-03"></div>
                <ul class="carousel-controler inside-panel">
                  <li class="active"><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="bg image-functions-greenroom">
          <div class="container collapsible">
            <div class="toggle-panel">
              <h2 class="title">GREEN ROOM</h2>
              <div class="collapse-indicators">
                <div class="on">SHOW</div>
                <div class="off">HIDE</div>
              </div>
            </div>
            <div class="toggle-content">
              <div class="panel white left">
                <p>The Green Room at Quay is a spectacular venue situated upstairs from the restaurant. Named after the famous Sydney Opera House Green Room, it offers 240 degree harbour views, with the location of its namesake Sydney Opera House directly across the harbour.<br><br>This stunning venue spans 232 square metres opening up to spacious terraces facing Circular Quay on one side and the Harbour Bridge on the other. The stunning, plush interior of this amazing space subtly reflects the colour and images of its exquisite harbour side setting.<br><br>The elegance and style of this exclusive location is taken to the next level with the inclusion of Quay’s world-class food and wine menu. Incredible cuisine and Sydney’s magical harbour as the backdrop makes the Green Room a breathtaking option for wedding receptions and other functions that require that extra level of style and quality. The venue often hosts unique events that require a unique venue such as press launches and media interviews, private parties, corporate functions and international business meetings.<br><br>Quay’s function staff are well connected when it comes to adding entertainment and flowers and can make quality recommendations when booking your function.</p>
                <div class="line"></div>
                <p>Exclusive Use Conditions and Capacity <br><br>Sit down lunch/dinner with dance floor - 100 pax<br><br>Cocktail parties - 180 pax<br><br>The minimum spend for an exclusive function in Quay's Green Room starts from $6,000 for cocktails, 
                  $4,000 for lunch and from $6,000 for dinner<br><br>Please note the summer rate for dinner applicable in Nov/Dec is $10,000.
                </p>
              </div>
              <div class="panel square right small-carousel-container">
                <div class="content-carousel greenroom-01 active"></div>
                <div class="content-carousel greenroom-02"></div>
                <div class="content-carousel greenroom-03"></div>
                <div class="content-carousel greenroom-04"></div>
                <ul class="carousel-controler inside-panel">
                  <li class="active"><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="bg image-functions-restaurant">
          <div class="container collapsible">
            <div class="toggle-panel">
              <h2 class="title">RESTAURANT</h2>
              <div class="collapse-indicators">
                <div class="on">SHOW</div>
                <div class="off">HIDE</div>
              </div>
            </div>
            <div class="toggle-content">
              <div class="panel white left">
                <p>Quay Restaurant, with its floor to ceiling glass walls, is a spectacular setting for all modes of corporate entertainment, wedding receptions and cocktail parties.<br><br>The quality and style of our food and wine, and our exceptional service standards will leave a lasting impression on all who attend. Quay's unique layout also enables us to respond with great flexibility to your needs.<br><br>Award winning cuisine, world class service and a stellar reputation of international renown, all come together in an iconic Sydney location. An event at Quay will be remembered and talked about for a long time after. 
                  The restaurant seats up to 150 guests, or can accommodate 250 guests for a cocktail party.
                </p>
                <div class="line"></div>
                <p><br>Exclusive Use Conditions and Capacity <br><br>Sit down lunch / dinner with dance floor - 110 pax<br><br>Sit down lunch/ dinner with no dance floor - 150 pax<br><br>Cocktail parties - 250 pax<br><br>Exclusive use of Quay Restaurant does not require a hire fee, however we do require a minimum spend of $15,000 on food and beverages for lunch.<br><br>For an exclusive dinner, the minimum spend requirement starts from $25,000.</p>
              </div>
              <div class="panel square right small-carousel-container">
                <div class="content-carousel restaurant-03 active"></div>
                <div class="content-carousel restaurant-02"></div>
                <div class="content-carousel restaurant-01"></div>
                <ul class="carousel-controler inside-panel">
                  <li class="active"><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="image-functions-02 tofixBg">
        <div class="container wedding">
          <div class="panel white">
            <h2 class="title">WEDDINGS<br>AT QUAY</h2>
            <p>Quay has played host to some of the country’s most exclusive wedding receptions. We invite you to experience your special day with an exquisite menu from award winning chef Peter Gilmore, whilst enjoying the uninterrupted panorama of the world’s most stunning harbour.<br><br>A wedding at Quay allows for magnificent photo opportunities with breathtaking views of the Opera House, Harbour Bridge and glittering Sydney City skyline. Quay boasts three different reception areas; the entire Restaurant, the exclusive Upper Tower, and the stunning Green Room.<br><br>Whether you are hosting an intimate sit down dinner reception for 30 guests or a stylish cocktail party reception of 300, we are able to provide a venue capable of catering to your every need.</p>
          </div>
          <div id="wedding-video" class="right"></div>
        </div>
      </div>
      <div class="image-functions-01 tofixBg">
        <div class="container functions-inquiries">
          <div class="panel white full">
            <div class="img"></div>
            <div class="text-wrapper">
              <div class="left">
                <h2 class="title">FUNCTION<br>ENQUIRIES</h2>
                <p>For further information please contact our Functions Manager, Michelle Cook.</p>
              </div>
              <div class="right"><strong>Phone</strong><br><a href="tel:+61-2-9241-4565">(61 2) 9241 4565</a><br><br><strong>Fax</strong><br><a href="tel:+61-2-9241-4901">(61 2) 9241 4901</a><br><br><strong>Email</strong><br><a href="mailto:functions@quay.com.au" class="email">functions@quay.com.au</a></div>
            </div>
          </div>
          <div class="panel white full">
            <div class="img sarah"></div>
            <div class="text-wrapper">
              <div class="left">
                <h2 class="title">WEDDING<br>ENQUIRIES</h2>
                <p>For further information please contact our Functions Executive, Sarah Millett.</p>
              </div>
              <div class="right"><strong>Phone</strong><br><a href="tel:+61-2-9241-4565">(61 2) 9241 4565</a><br><br><strong>Fax</strong><br><a href="tel:+61-2-9241-4901">(61 2) 9241 4901</a><br><br><strong>Email</strong><br><a href="mailto:fe@quay.com.au" class="email">fe@quay.com.au</a></div>
            </div>
          </div>
        </div>
        <section class="container">
          <div class="panel full contact">
            <div class="left">
              <p class="address">Upper Level,<br>Overseas Passenger Terminal<br>The Rocks, Sydney 2000</p>
            </div>
            <div class="right"><a href="tel:+61-2-9251-5600" class="tel">(61 2) 9251 5600</a><br><br><br>
            </div>
            <div class="line"></div>
          </div>
        </section>
      </div>
      <div class="footer">
        <div class="icon-logo"></div>
        <ul class="footer-nav">
          <li><a href="/reservation">Reservations</a></li>
          <li><a href="functions.html">Functions</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="reviews-media.html">Reviews & Media</a></li>
        </ul>
        <ul class="social">
          <li><a href="http://instagram.com/quayrestaurant" target="_blank"><span class="icon-instagram"></span></a></li>
          <li><a href="http://www.youtube.com/user/QuaySydney" target="_blank"><span class="icon-play"></span></a></li>
        </ul>
        <div class="legal">© Quay Restaurant.<br>Site by <a href="http://www.pollen.com.au/" target="_blank">Pollen. </a>Photography by <a href="http://www.brettstevensphotography.com/" target="_blank">Brett Stevens.</a></div>
      </div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-6526479-13', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
      
      // Google Code for Remarketing Tag
      /* <![CDATA[ */
      var google_conversion_id = 965355358;
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;
      /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
    <noscript>
      <div style="display:inline;"><img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/965355358/?value=0&amp;guid=ON&amp;script=0"></div>
    </noscript>
    <!-- build:js(app) /scripts/vendor.js-->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/fastclick/lib/fastclick.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/pickadate/lib/picker.js"></script>
    <script src="/bower_components/pickadate/lib/picker.date.js"></script>
    <script src="/bower_components/fitvids/jquery.fitvids.js"></script>
    <!-- endbuild-->
    
    <!-- build:js({.tmp,app}) /scripts/scripts.js-->
    <script src="/scripts/raf.js"></script>
    <script src="/scripts/router.js"></script>
    <script src="/scripts/prettyembed.js"></script>
    <script src="/scripts/popup.js"></script>
    <script src="/scripts/carousel.js"></script>
    <script src="/scripts/menu.js"></script>
    <script src="/scripts/nav.js"></script>
    <script src="/scripts/collapse.js"></script>
    <script src="/scripts/map.js"></script>
    <script src="/scripts/main.js"></script>
    <script src="/scripts/reservation.js"></script>
    <script src="/scripts/selectordie.js"></script>
    <!-- endbuild-->
  </body>
</html>

app/views/functions.jade
block vars
  - var title = "Quay restaurant"
  - var description = "At Quay our aim is to provide a truly memorable dining experience. An experience that celebrates the diversity of our wonderful Australian ingredients cooked with imagination and passion."
  - var page = "functions"

extends partials/layout
include partials/top

block content

  +top('{{ functions.background }}', true)

  .panel-top.white
    .container
      .panel
        h1.main-title {{ functions.headline }}
        p {{ functions.intro_copy | safe }}
      .line

  .collapse-panel
    .bg(class='{{ functions.uppertower_image }}')
      .container.collapsible
        .toggle-panel
          h2.title UPPER TOWER
          .collapse-indicators
            .on SHOW
            .off HIDE

        .toggle-content
          .panel.white.left
            {{ functions.uppertower_copy1 | safe }}
            .line
            {{ functions.uppertower_copy2 | safe }}

          .panel.square.right.small-carousel-container
            {% for imageClass in functions.uppertower_carou.all %}
            .content-carousel(class="{{imageClass}} {% if forloop.first %}active{% endif%}")
            {% endfor %}
            ul.carousel-controler.inside-panel
              {% for imageClass in functions.uppertower_carou.all %}
              li(class="{% if forloop.first %}active{% endif%}")
                span
              {% endfor %}

    .bg(class='{{ functions.greenroom_image }}')
      .container.collapsible
        .toggle-panel
          h2.title GREEN ROOM
          .collapse-indicators
            .on SHOW
            .off HIDE

        .toggle-content
          .panel.white.left
            {{ functions.greenroom_copy1 | safe }}
            .line
            {{ functions.greenroom_copy2 | safe }}

          .panel.square.right.small-carousel-container
            {% for imageClass in functions.greenroom_carou.all %}
            .content-carousel(class="{{imageClass}} {% if forloop.first %}active{% endif%}")
            {% endfor %}
            ul.carousel-controler.inside-panel
              {% for imageClass in functions.greenroom_carou.all %}
              li(class="{% if forloop.first %}active{% endif%}")
                span
              {% endfor %}

    .bg(class='{{ functions.restaurant_image }}')
      .container.collapsible
        .toggle-panel
          h2.title RESTAURANT
          .collapse-indicators
            .on SHOW
            .off HIDE

        .toggle-content
          .panel.white.left
            {{ functions.restaurant_copy1 | safe }}
            .line
            {{ functions.restaurant_copy2 | safe }}

          .panel.square.right.small-carousel-container
            {% for imageClass in functions.restaurant_carou.all %}
            .content-carousel(class="{{imageClass}} {% if forloop.first %}active{% endif%}")
            {% endfor %}
            ul.carousel-controler.inside-panel
              {% for imageClass in functions.restaurant_carou.all %}
              li(class="{% if forloop.first %}active{% endif%}")
                span
              {% endfor %}

  .image-functions-02.tofixBg(class="{{ functions.wedding_background }}")
    .container.wedding
      .panel.white
        h2.title {{ functions.wedding_title | safe }}
        p {{ functions.wedding_copy | safe }}
      #wedding-video.right(data-video='{{ functions.wedding_video }}')
  .image-functions-01.tofixBg
    .container.functions-inquiries
      .panel.white.full
        .img
          img(src="{{MEDIA_URL}}/{{ functions.contacts.all.first.image }}")
        .text-wrapper
          .left
            h2.title
              | FUNCTION
              br
              | ENQUIRIES
            p
              | For further information please contact our {{ functions.contacts.first.function }}, {{ functions.contacts.first.name }}.

          .right
            strong Phone
            br
            a(href="tel:+{{ functions.contacts.first.phone }}")
              | {{ functions.contacts.first.phone }}
            br
            br
            strong Fax
            br
            a(href="tel:+{{ functions.contacts.first.fax }}")
              | {{ functions.contacts.first.fax }}
            br
            br
            strong Email
            br
            a.email(href="mailto:{{ functions.contacts.first.email }}")
              | {{ functions.contacts.first.email }}

      {% if functions.contacts.all.1.phone != '' %}
      .panel.white.full
        .img
          img(src="{{MEDIA_URL}}/{{ functions.contacts.all.1.image }}")
        .text-wrapper
          .left
            h2.title
              | WEDDING
              br
              | ENQUIRIES
            p
              | For further information please contact our {{ functions.contacts.all.1.function }}, {{ functions.contacts.all.1.name }}.

          .right
            strong Phone
            br
            a(href="tel:+{{ functions.contacts.all.1.phone }}")
              | {{ functions.contacts.all.1.phone }}
            br
            br
            strong Fax
            br
            a(href="tel:+{{ functions.contacts.all.1.fax }}")
              | {{ functions.contacts.all.1.fax }}
            br
            br
            strong Email
            br
            a.email(href="mailto:{{ functions.contacts.all.1.email }}")
              | {{ functions.contacts.all.1.email }}
      {% endif %}

    include partials/contact
