app/views/index.jade
block vars
  - var title = "Quay restaurant"
  - var description = "At Quay our aim is to provide a truly memorable dining experience. An experience that celebrates the diversity of our wonderful Australian ingredients cooked with imagination and passion."
  - var page = "index"

extends partials/layout
include partials/top

block content
  
  +top(['dish-duck','dish-beetroot','dish-pigjowl', 'dish-beef', 'dish-muscovado'])

  .panel-top.white
    .container
      .peter
      section.panel
        h1.main-title
          | WELCOME
        p
          | Our aim is to give you a rich experience. To explore some of Australia’s most beautiful, natural produce.
          br
          br
          | To present an original cuisine where texture, purity of flavour and balance is paramount. To bring warmth and knowledge to our service in one of the world’s most extraordinary harbour settings.

        a.button(href="/reservation")  
          | RESERVATIONS
        .line

  .container
    .panel.square.left.opera-tables

    section.panel.dark.pattern-floury.right
      .text-wrapper
        h2.title OUR MENUS
        p.quote
          | I’m looking to nature for my inspiration. Letting the natural produce speak. There’s so much out there, so much elegance and beauty. 
        .author
          | PETER GILMORE
        .line

      a.button(href="menu.html")
        | MENU

    section.panel.dark.pattern-gray
      .text-wrapper
        h2.title 
          | THE QUAY
          br
          | EXPERIENCE
        p
          | At Quay our aim is to provide a truly memorable dining experience. An experience that celebrates the diversity of our wonderful Australian ingredients cooked with imagination and passion. Warm, knowledgeable, professional staff will extend genuine hospitality as they guide you through your dining experience.

      a.button.tablet-push-down(href="about.html")
        | ABOUT QUAY
    .line

    section.panel.white.right.enquiries
      .text-wrapper
        h2.title 
          | FUNCTIONS
        p
          | Every event hosted by Quay not only enjoys our world-class cuisine, but is surrounded by the iconic maritime panorama of the world’s most stunning harbour city.

      a.button(href="functions.html")
        | READ MORE

    .line

    section.panel.transparent.news
      .text-wrapper
        h2.title 
          | LATEST NEWS
        .news-title
          | Overseas Passenger Terminal construction
        time Sept 19, 2014
        br
        br
        p During the overseas passenger terminal upgrade Quay will have modified opening hours. We will be closed for lunch Monday to Thursday and open Friday to Sunday lunch from 12pm - 2pm.

      a.button(href="news-events.html")
        | READ MORE

    include partials/competition

    
  include partials/contact

  .decor.image-footer

app/index.html
<!DOCTYPE html>
<!-- [if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!-- [if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!-- [if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!-- [if gt IE 8]><!-->
<html ng-app="pollenApp" class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <base href="/">
    <title>Quay Restaurant</title>
    <meta name="description" content="Quay Restaurant is Australia's most awarded restaurant, and one of two Australian restaurants on the prestigious S. Pellegrino World's Top 50 List. Owned and operated by the Fink Group, the restaurant offers outstanding modern cuisine by award winning chef Peter Gilmore, and is situated in the stunning dress circle of Sydney Harbour.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui ,user-scalable=no">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="favicon-128.png" sizes="128x128">
    <meta name="google-site-verification" content="tfMV1epfpTJQ7IBfO2gNoU5-6G4IV9SB-BhD4b_mHjc">
    <meta name="keywords" content="Quay Restaurant, Fink Group, Chef Peter Gilmore, S.Pellegrino World's Top 50, Nature Based Cuisine, Functions, Weddings, Corporate Events, John Fink, Leon Fink">
    <meta property="og:title" content="Quay restaurant">
    <meta property="og:type" content="place">
    <meta property="og:description" content="At Quay our aim is to provide a truly memorable dining experience. An experience that celebrates the diversity of our wonderful Australian ingredients cooked with imagination and passion.">
    <meta property="og:site_name" content="Quay restaurant">
    <meta property="article:author" content="https://www.facebook.com/pages/Quay-Restaurant/114127581932410">
    <meta property="article:publisher" content="https://www.facebook.com/pages/Quay-Restaurant/114127581932410">
    <meta property="place:location:latitude" content="-33.858018">
    <meta property="place:location:longitude" content="151.210091">
    <meta property="og:url" content="http://www.quay.com.au">
    <meta name="twitter:image:src" content="http://www.quay.com.au/images/twitter.jpg">
    <meta property="og:image" content="http://www.quay.com.au/images/facebook.jpg">
    <!-- build:css({.tmp,app}) /styles/main.css-->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- endbuild-->
    <script type="text/javascript" src="//use.typekit.net/bmo5vxg.js"></script>
    <script>
      try{Typekit.load();}catch(e){}
      
    </script>
  </head>
  <body class="page-index">
    <!--[if lt IE 9]>
    <style>body{height: 880px !important;}#nav,#content{display:none;}*{margin: 0;}img{width: 100%;}</style>
    <a href="http://browsehappy.com/" style="display:block; text-align:center;" target="_blank"><img style="border: 0;" src="/images/ie8.jpg" /></a>
    <![endif]-->
    <div class="nav-toggle hide-desktop"><span></span><span></span><span></span></div>
    <div id="nav">
      <ul>
        <li class="active"><a href="/">HOME</a></li>
        <li><a href="menu.html">MENU</a></li>
        <li><a href="about.html">ABOUT</a></li>
        <li><a href="functions.html">FUNCTIONS</a></li>
        <li><a href="contact.html">CONTACT</a></li>
        <li class="reservation"><a href="/reservation">RESERVATIONS</a></li>
      </ul>
    </div>
    <div id="content">
      <div class="top">
        <div class="main-logo">
          <div class="icon-logo"></div>
        </div>
        <div class="top-carousel">
          <div class="dish-duck active"></div>
          <div class="dish-beetroot"></div>
          <div class="dish-pigjowl"></div>
          <div class="dish-beef"></div>
          <div class="dish-muscovado"></div>
        </div>
        <ul class="carousel-controler">
          <li class=" active"><span></span></li>
          <li><span></span></li>
          <li><span></span></li>
          <li><span></span></li>
          <li><span></span></li>
        </ul>
      </div>
      <div class="panel-top white">
        <div class="container">
          <div class="peter"></div>
          <section class="panel">
            <h1 class="main-title">WELCOME</h1>
            <p>Our aim is to give you a rich experience. To explore some of Australia’s most beautiful, natural produce.<br><br>To present an original cuisine where texture, purity of flavour and balance is paramount. To bring warmth and knowledge to our service in one of the world’s most extraordinary harbour settings.</p><a href="/reservation" class="button">
               
              RESERVATIONS</a>
            <div class="line"></div>
          </section>
        </div>
      </div>
      <div class="container">
        <div class="panel square left opera-tables"></div>
        <section class="panel dark pattern-floury right">
          <div class="text-wrapper">
            <h2 class="title">OUR MENUS</h2>
            <p class="quote">I’m looking to nature for my inspiration. Letting the natural produce speak. There’s so much out there, so much elegance and beauty. </p>
            <div class="author">PETER GILMORE</div>
            <div class="line"></div>
          </div><a href="menu.html" class="button">MENU</a>
        </section>
        <section class="panel dark pattern-gray">
          <div class="text-wrapper">
            <h2 class="title">
               
              THE QUAY<br>EXPERIENCE
            </h2>
            <p>At Quay our aim is to provide a truly memorable dining experience. An experience that celebrates the diversity of our wonderful Australian ingredients cooked with imagination and passion. Warm, knowledgeable, professional staff will extend genuine hospitality as they guide you through your dining experience.</p>
          </div><a href="about.html" class="button tablet-push-down">ABOUT QUAY</a>
        </section>
        <div class="line"></div>
        <section class="panel white right enquiries">
          <div class="text-wrapper">
            <h2 class="title">
               
              FUNCTIONS
            </h2>
            <p>Every event hosted by Quay not only enjoys our world-class cuisine, but is surrounded by the iconic maritime panorama of the world’s most stunning harbour city.</p>
          </div><a href="functions.html" class="button">READ MORE</a>
        </section>
        <div class="line"></div>
        <section class="panel transparent news">
          <div class="text-wrapper">
            <h2 class="title">
               
              LATEST NEWS
            </h2>
            <div class="news-title">Overseas Passenger Terminal construction</div>
            <time>Sept 19, 2014</time><br><br>
            <p>During the overseas passenger terminal upgrade Quay will have modified opening hours. We will be closed for lunch Monday to Thursday and open Friday to Sunday lunch from 12pm - 2pm.</p>
          </div><a href="news-events.html" class="button">READ MORE</a>
        </section>
        <section class="container">
          <div class="panel full dark competiton-promo">
            <div class="left">
              <div class="title">WIN A MASTERCLASS<br>WITH PETER GILMORE</div>
              <div class="line"></div>
              <p>To celebrate the launch of Peter Gilmore’s app for iPad, we’re giving away 4 double-passes to a masterclass with Peter Gilmore.</p>
            </div>
            <div class="right"><a href="http://masterclass.petergilmore.com.au" target="_blank" class="button">ENTER NOW</a>
              <p>Get the Peter Gilmore App for iPad</p><a href="http://app.petergilmore.com.au/?at=1l3vrS7&amp;ct=Quay" target="_blank" class="app-link"></a>
            </div>
          </div>
        </section>
      </div>
      <section class="container">
        <div class="panel full contact">
          <div class="left">
            <p class="address">Upper Level,<br>Overseas Passenger Terminal<br>The Rocks, Sydney 2000</p>
          </div>
          <div class="right"><a href="tel:+61-2-9251-5600" class="tel">(61 2) 9251 5600</a><br><br><br><strong>Lunch service </strong>
            <p>Friday to Sunday from 12pm - 2pm</p><br><strong>Dinner service</strong>
            <p>Daily from 6pm - 10pm</p>
          </div>
          <div class="line"></div>
        </div>
      </section>
      <div class="decor image-footer"></div>
      <div class="footer">
        <div class="icon-logo"></div>
        <ul class="footer-nav">
          <li><a href="/reservation">Reservations</a></li>
          <li><a href="functions.html">Functions</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="reviews-media.html">Reviews & Media</a></li>
        </ul>
        <ul class="social">
          <li><a href="http://instagram.com/quayrestaurant" target="_blank"><span class="icon-instagram"></span></a></li>
          <li><a href="http://www.youtube.com/user/QuaySydney" target="_blank"><span class="icon-play"></span></a></li>
        </ul>
        <div class="legal">© Quay Restaurant.<br>Site by <a href="http://www.pollen.com.au/" target="_blank">Pollen. </a>Photography by <a href="http://www.brettstevensphotography.com/" target="_blank">Brett Stevens.</a></div>
      </div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-6526479-13', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
      
      // Google Code for Remarketing Tag
      /* <![CDATA[ */
      var google_conversion_id = 965355358;
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;
      /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
    <noscript>
      <div style="display:inline;"><img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/965355358/?value=0&amp;guid=ON&amp;script=0"></div>
    </noscript>
    <!-- build:js(app) /scripts/vendor.js-->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/fastclick/lib/fastclick.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/pickadate/lib/picker.js"></script>
    <script src="/bower_components/pickadate/lib/picker.date.js"></script>
    <script src="/bower_components/fitvids/jquery.fitvids.js"></script>
    <!-- endbuild-->
    
    <!-- build:js({.tmp,app}) /scripts/scripts.js-->
    <script src="/scripts/raf.js"></script>
    <script src="/scripts/router.js"></script>
    <script src="/scripts/prettyembed.js"></script>
    <script src="/scripts/popup.js"></script>
    <script src="/scripts/carousel.js"></script>
    <script src="/scripts/menu.js"></script>
    <script src="/scripts/nav.js"></script>
    <script src="/scripts/collapse.js"></script>
    <script src="/scripts/map.js"></script>
    <script src="/scripts/main.js"></script>
    <script src="/scripts/reservation.js"></script>
    <script src="/scripts/selectordie.js"></script>
    <!-- endbuild-->
  </body>
</html>
