app/views/menu.jade
block vars
  - var title = "Quay restaurant"
  - var description = "At Quay our aim is to provide a truly memorable dining experience. An experience that celebrates the diversity of our wonderful Australian ingredients cooked with imagination and passion."
  - var page = "menu"

extends partials/layout
include partials/top

block content
  +top(['illustration-spring'])

  .panel-top.white
    .container
      section.panel.full
        h1.main-title
          | OUR MENUS
        p
          | At Quay, our passion is to deliver a truly unique dining experience, one which is completely removed from the everyday. Quay’s menu is a continually evolving repertoire; some classics, some reworking of old favourites plus new dishes for each season.

    ul#menus
      li
        a.button(href="/menu#lunch") LUNCH
      li
        a.button(href="/menu#dinner") DINNER
      li
        a.button(href="/menu#tasting") TASTING
      li
        a.button(href="pdf/quay-wine-list.pdf" data-kind="pdf" target="_blank")
          | WINE 
          span (PDF)

  .carte-container.container
    section.panel.dark.carte
      include partials/menu-lunch
      include partials/menu-dinner
      include partials/menu-tasting
    
    section.panel.white.additional-info
      h2.title
        | ADDITIONAL
        br
        | INFORMATION
      .line
      p
        strong Please note Quay offers vegetarian options and can cater for most dietary requirements.
        br
        br
        | Please feel free to contact us if you have any additional or specific dietary requirements and we will do our best to accommodate your request.
        br
        br
        | Please notify us at least 24 hours in advance of the booking.
        br
        br
        | In addition, we are also able to offer a vegetarian or gluten free tasting menu upon request if the booking is made at least 24 hours in advance.
        br
        br
        | Menu content and prices are subject to change.
        br
        br
        | Please be aware that the food images displayed on our website may not reflect the current dishes available on our menu.
    .line.last



  .container
    .panel.square.right.side-dish-beetroot

    section.panel.dark.food-philosophy-panel.left
      .text-wrapper
        h2.title
          | FOOD
          br
          | PHILOSOPHY
        p
          | Over the years my food philosophy has evolved into a personal style that celebrates being a cook in Australia. It embraces natures diversity and seeks to achieve a sense of balance and purity through produce, technique, texture, flavour and composition.

      a.button(href="food-philosophy.html")
        | LEARN MORE

    section.video-container
      #chef-video.right

      .line.left

    section.panel.white.right.small
      .text-wrapper
        h2.title 
          | OUR PRODUCE
        p
          | I am very inspired by nature’s diversity and have been a passionate gardener for years. We have set up close relationships with like minded passionate farmers.
          br
          br
          | Continuing on this journey with small independent growers will see even more beautiful and unique produce grace Quay’s menus.

      a.button(href="our-producers.html")
        | THE PRODUCERS
    .flowers-bg

  include partials/competition
  include partials/contact

templates/menu.html
<!DOCTYPE html>
<!-- [if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!-- [if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!-- [if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!-- [if gt IE 8]><!-->
<html ng-app="pollenApp" class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <base href="/">
    <title>Quay Restaurant</title>
    <meta name="description" content="Quay Restaurant is Australia's most awarded restaurant, and one of two Australian restaurants on the prestigious S. Pellegrino World's Top 50 List. Owned and operated by the Fink Group, the restaurant offers outstanding modern cuisine by award winning chef Peter Gilmore, and is situated in the stunning dress circle of Sydney Harbour.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui ,user-scalable=no">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="favicon-128.png" sizes="128x128">
    <meta name="google-site-verification" content="tfMV1epfpTJQ7IBfO2gNoU5-6G4IV9SB-BhD4b_mHjc">
    <meta name="keywords" content="Quay Restaurant, Fink Group, Chef Peter Gilmore, S.Pellegrino World's Top 50, Nature Based Cuisine, Functions, Weddings, Corporate Events, John Fink, Leon Fink">
    <meta property="og:title" content="Quay restaurant">
    <meta property="og:type" content="place">
    <meta property="og:description" content="At Quay our aim is to provide a truly memorable dining experience. An experience that celebrates the diversity of our wonderful Australian ingredients cooked with imagination and passion.">
    <meta property="og:site_name" content="Quay restaurant">
    <meta property="article:author" content="https://www.facebook.com/pages/Quay-Restaurant/114127581932410">
    <meta property="article:publisher" content="https://www.facebook.com/pages/Quay-Restaurant/114127581932410">
    <meta property="place:location:latitude" content="-33.858018">
    <meta property="place:location:longitude" content="151.210091">
    <meta property="og:url" content="http://www.quay.com.au">
    <meta name="twitter:image:src" content="http://www.quay.com.au/images/twitter.jpg">
    <meta property="og:image" content="http://www.quay.com.au/images/facebook.jpg">
    <!-- build:css({.tmp,app}) /styles/main.css-->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- endbuild-->
    <script type="text/javascript" src="//use.typekit.net/bmo5vxg.js"></script>
    <script>
      try{Typekit.load();}catch(e){}
      
    </script>
  </head>
  <body class="page-menu">
    <!--[if lt IE 9]>
    <style>body{height: 880px !important;}#nav,#content{display:none;}*{margin: 0;}img{width: 100%;}</style>
    <a href="http://browsehappy.com/" style="display:block; text-align:center;" target="_blank"><img style="border: 0;" src="/images/ie8.jpg" /></a>
    <![endif]-->
    <div class="nav-toggle hide-desktop"><span></span><span></span><span></span></div>
    <div id="nav">
      <ul>
        <li><a href="/">HOME</a></li>
        <li class="active"><a href="menu.html">MENU</a></li>
        <li><a href="about.html">ABOUT</a></li>
        <li><a href="functions.html">FUNCTIONS</a></li>
        <li><a href="contact.html">CONTACT</a></li>
        <li class="reservation"><a href="/reservation">RESERVATIONS</a></li>
      </ul>
    </div>
    <div id="content">
      <div class="top"><a href="/" class="icon-logo"></a>
        <div class="top-carousel full-bg">
          <div class="illustration-spring active"></div>
        </div>
      </div>
      <div class="panel-top white">
        <div class="container">
          <section class="panel full">
            <h1 class="main-title">OUR MENUS</h1>
            <p>At Quay, our passion is to deliver a truly unique dining experience, one which is completely removed from the everyday. Quay’s menu is a continually evolving repertoire; some classics, some reworking of old favourites plus new dishes for each season.</p>
          </section>
        </div>
        <ul id="menus">
          <li><a href="/menu#lunch" class="button">LUNCH</a></li>
          <li><a href="/menu#dinner" class="button">DINNER</a></li>
          <li><a href="/menu#tasting" class="button">TASTING</a></li>
          <li><a href="pdf/quay-wine-list.pdf" data-kind="pdf" target="_blank" class="button">WINE <span>(PDF)</span></a></li>
        </ul>
      </div>
      <div class="carte-container container">
        <section class="panel dark carte">
          <div class="lunch carte-content">
            <h2 class="title">LUNCH MENU</h2>
            <div class="line"></div>
            <div class="subtitle">One</div>
            <p>Greenlip abalone, saltwater poached chicken,<br>eggplant, smoked eel jelly,<br>agretti, takuan, kai-lan<br><br>Raw smoked Blackmore wagyu, <br>horseradish soured cream,<br>fermented rye crisps,<br>raw funghi<br><br>Congee of Northern Australian mud crab,<br>fresh palm heart, egg yolk emulsion<br><br>Salad of celery heart, <br>Pantelleria capers, aged feta, <br>rare herbs, flowers</p>
            <div class="subtitle">Two</div>
            <p>Smoked and confit pig jowl, <br>roasted koji, shiitake, kombu, <br>sea scallop, sesame<br><br>Bay lobster,<br>sea urchin, salted egg yolk<br><br>XO Sea<br>five sea textures<br><br>Spring peas, asparagus, <br>butter lettuce, milk curd, <br>umami vegetable broth</p>
            <div class="subtitle">Three</div>
            <p>Chatham Island blue cod, <br>cuttlefish, kabu turnips, <br>oyster broth<br><br>Slow cooked duck, <br>cultured rice and barley, <br>spring garlic, black garlic<br><br>Flinders Island salt grass lamb, <br>spring garden vegetables, <br>smoked oyster, seaweed, anchovy<br><br>Stone pot organic green rice,<br>silken tofu, mountain spinach, <br>spring cabbage stems, seaweed</p>
            <div class="subtitle">Four</div>
            <p>Citrus and almonds<br><br>Muscovado, prune, <br>jersey, dulcey, coconut<br><br>Chocolate ethereal <br><br>Snow egg<br><br>A selection of cheese, <br>raisin and walnut sourdough</p>
            <div class="line"></div>
            <div class="menu-price">
               
              3 Courses $140 <br><br>4 Courses $160
            </div>
          </div>
          <div class="dinner carte-content">
            <h2 class="title">DINNER MENU</h2>
            <div class="line"></div>
            <div class="subtitle">One</div>
            <p>Greenlip abalone, saltwater poached chicken, <br>eggplant, smoked eel jelly,<br>agretti, takuan, kai-lan<br><br>Raw smoked Blackmore wagyu, <br>horseradish soured cream, <br>fermented rye crisps,<br>raw funghi<br><br>Congee of Northern Australian mud crab,<br>fresh palm heart, egg yolk emulsion<br><br>Salad of celery heart, <br>Pantelleria capers, aged feta, <br>rare herbs, flowers</p>
            <div class="subtitle">Two</div>
            <p>Smoked and confit pig jowl, <br>roasted koji, shiitake, kombu, sea scallop, sesame<br><br>Bay lobster, sea urchin, salted egg yolk,<br><br>XO Sea<br>five sea textures <br><br>Spring peas, asparagus,<br>butter lettuce, milk curd, <br>umami vegetable broth</p>
            <div class="subtitle">Three</div>
            <p>Chatham Island blue cod, <br>cuttlefish, kabu turnips, <br>oyster broth<br><br>Slow cooked duck, <br>cultured rice and barley, <br>spring garlic, black garlic<br><br>Flinders Island salt grass lamb, <br>spring garden vegetables, <br>smoked oyster, seaweed, anchovy<br><br>Stone pot organic green rice,<br>silken tofu, mountain spinach,<br>spring cabbage stems, seaweed</p>
            <div class="subtitle">Four</div>
            <p>Citrus and almonds<br><br>Muscovado, prune, <br>jersey, dulcey, coconut<br><br>Chocolate ethereal <br><br>Snow egg<br><br>A selection of cheese, <br>raisin and walnut sourdough</p>
            <div class="line"></div>
            <div class="menu-price">4 Courses $175</div>
          </div>
          <div class="tasting carte-content"> 
            <h2 class="title">TASTING MENU</h2>
            <div class="line"></div>
            <p>Greenlip abalone, saltwater poached chicken,<br>eggplant, smoked eel jelly,<br>agretti, takuan, kai-lan<br><br>Congee of Northern Australian mud crab,<br>fresh palm heart, egg yolk emulsion<br><br>Smoked and confit pig jowl, <br>roasted koji, shiitake, kombu,<br>sea scallop, sesame<br><br>XO Sea<br>five sea textures<br><br>Flinders Island salt grass lamb,<br>spring garden vegetables,<br>smoked oyster, seaweed, anchovy<br><br>Slow cooked duck,<br>cultured rice and barley,<br>spring garlic, black garlic<br><br>Snow egg<br><br>Chocolate ethereal<br><br>Coffee, Tea & Quay Petits Fours</p>
            <div class="line"></div>
            <div class="menu-price">$225 per person</div>
            <p>Optional accompanying wines $95 per person<br>Optional accompanying premium wines $175 per person<br><br><strong>Tasting Menu available </strong><br>12pm - 1:30pm & 6pm - 9pm</p>
          </div>
        </section>
        <section class="panel white additional-info">
          <h2 class="title">ADDITIONAL<br>INFORMATION</h2>
          <div class="line"></div>
          <p><strong>Please note Quay offers vegetarian options and can cater for most dietary requirements.</strong><br><br>Please feel free to contact us if you have any additional or specific dietary requirements and we will do our best to accommodate your request.<br><br>Please notify us at least 24 hours in advance of the booking.<br><br>In addition, we are also able to offer a vegetarian or gluten free tasting menu upon request if the booking is made at least 24 hours in advance.<br><br>Menu content and prices are subject to change.<br><br>Please be aware that the food images displayed on our website may not reflect the current dishes available on our menu.</p>
        </section>
        <div class="line last"></div>
      </div>
      <div class="container">
        <div class="panel square right side-dish-beetroot"></div>
        <section class="panel dark food-philosophy-panel left">
          <div class="text-wrapper">
            <h2 class="title">FOOD<br>PHILOSOPHY</h2>
            <p>Over the years my food philosophy has evolved into a personal style that celebrates being a cook in Australia. It embraces natures diversity and seeks to achieve a sense of balance and purity through produce, technique, texture, flavour and composition.</p>
          </div><a href="food-philosophy.html" class="button">LEARN MORE</a>
        </section>
        <section class="video-container">
          <div id="chef-video" class="right"></div>
          <div class="line left"></div>
        </section>
        <section class="panel white right small">
          <div class="text-wrapper">
            <h2 class="title">
               
              OUR PRODUCE
            </h2>
            <p>I am very inspired by nature’s diversity and have been a passionate gardener for years. We have set up close relationships with like minded passionate farmers.<br><br>Continuing on this journey with small independent growers will see even more beautiful and unique produce grace Quay’s menus.</p>
          </div><a href="our-producers.html" class="button">THE PRODUCERS</a>
        </section>
        <div class="flowers-bg"></div>
      </div>
      <section class="container">
        <div class="panel full dark competiton-promo">
          <div class="left">
            <div class="title">WIN A MASTERCLASS<br>WITH PETER GILMORE</div>
            <div class="line"></div>
            <p>To celebrate the launch of Peter Gilmore’s app for iPad, we’re giving away 4 double-passes to a masterclass with Peter Gilmore.</p>
          </div>
          <div class="right"><a href="http://masterclass.petergilmore.com.au" target="_blank" class="button">ENTER NOW</a>
            <p>Get the Peter Gilmore App for iPad</p><a href="http://app.petergilmore.com.au/?at=1l3vrS7&amp;ct=Quay" target="_blank" class="app-link"></a>
          </div>
        </div>
      </section>
      <section class="container">
        <div class="panel full contact">
          <div class="left">
            <p class="address">Upper Level,<br>Overseas Passenger Terminal<br>The Rocks, Sydney 2000</p>
          </div>
          <div class="right"><a href="tel:+61-2-9251-5600" class="tel">(61 2) 9251 5600</a><br><br><br><strong>Lunch service </strong>
            <p>Friday to Sunday from 12pm - 2pm</p><br><strong>Dinner service</strong>
            <p>Daily from 6pm - 10pm</p>
          </div>
          <div class="line"></div>
        </div>
      </section>
      <div class="footer">
        <div class="icon-logo"></div>
        <ul class="footer-nav">
          <li><a href="/reservation">Reservations</a></li>
          <li><a href="functions.html">Functions</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="reviews-media.html">Reviews & Media</a></li>
        </ul>
        <ul class="social">
          <li><a href="http://instagram.com/quayrestaurant" target="_blank"><span class="icon-instagram"></span></a></li>
          <li><a href="http://www.youtube.com/user/QuaySydney" target="_blank"><span class="icon-play"></span></a></li>
        </ul>
        <div class="legal">© Quay Restaurant.<br>Site by <a href="http://www.pollen.com.au/" target="_blank">Pollen. </a>Photography by <a href="http://www.brettstevensphotography.com/" target="_blank">Brett Stevens.</a></div>
      </div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-6526479-13', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
      
    </script>
    <!-- build:js(app) /scripts/vendor.js-->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/fastclick/lib/fastclick.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/pickadate/lib/picker.js"></script>
    <script src="/bower_components/pickadate/lib/picker.date.js"></script>
    <script src="/bower_components/fitvids/jquery.fitvids.js"></script>
    <!-- endbuild-->
    
    <!-- build:js({.tmp,app}) /scripts/scripts.js-->
    <script src="/scripts/selectordie.js"></script>
    <script src="/scripts/raf.js"></script>
    <script src="/scripts/router.js"></script>
    <script src="/scripts/prettyembed.js"></script>
    <script src="/scripts/popup.js"></script>
    <script src="/scripts/carousel.js"></script>
    <script src="/scripts/menu.js"></script>
    <script src="/scripts/nav.js"></script>
    <script src="/scripts/collapse.js"></script>
    <script src="/scripts/map.js"></script>
    <script src="/scripts/main.js"></script>
    <script src="/scripts/reservation.js"></script>
    <!-- endbuild-->
  </body>
</html>
