app/news-events.html
<!DOCTYPE html>
<!-- [if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!-- [if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!-- [if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!-- [if gt IE 8]><!-->
<html ng-app="pollenApp" class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <base href="/">
    <title>Quay Restaurant</title>
    <meta name="description" content="Quay Restaurant is Australia's most awarded restaurant, and one of two Australian restaurants on the prestigious S. Pellegrino World's Top 50 List. Owned and operated by the Fink Group, the restaurant offers outstanding modern cuisine by award winning chef Peter Gilmore, and is situated in the stunning dress circle of Sydney Harbour.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui ,user-scalable=no">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="favicon-128.png" sizes="128x128">
    <meta name="google-site-verification" content="tfMV1epfpTJQ7IBfO2gNoU5-6G4IV9SB-BhD4b_mHjc">
    <meta name="keywords" content="Quay Restaurant, Fink Group, Chef Peter Gilmore, S.Pellegrino World's Top 50, Nature Based Cuisine, Functions, Weddings, Corporate Events, John Fink, Leon Fink">
    <meta property="og:title" content="Quay restaurant">
    <meta property="og:type" content="place">
    <meta property="og:description" content="At Quay our aim is to provide a truly memorable dining experience. An experience that celebrates the diversity of our wonderful Australian ingredients cooked with imagination and passion.">
    <meta property="og:site_name" content="Quay restaurant">
    <meta property="article:author" content="https://www.facebook.com/pages/Quay-Restaurant/114127581932410">
    <meta property="article:publisher" content="https://www.facebook.com/pages/Quay-Restaurant/114127581932410">
    <meta property="place:location:latitude" content="-33.858018">
    <meta property="place:location:longitude" content="151.210091">
    <meta property="og:url" content="http://www.quay.com.au">
    <meta name="twitter:image:src" content="http://www.quay.com.au/images/twitter.jpg">
    <meta property="og:image" content="http://www.quay.com.au/images/facebook.jpg">
    <!-- build:css({.tmp,app}) /styles/main.css-->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- endbuild-->
    <script type="text/javascript" src="//use.typekit.net/bmo5vxg.js"></script>
    <script>
      try{Typekit.load();}catch(e){}
      
    </script>
  </head>
  <body class="page-news">
    <!--[if lt IE 9]>
    <style>body{height: 880px !important;}#nav,#content{display:none;}*{margin: 0;}img{width: 100%;}</style>
    <a href="http://browsehappy.com/" style="display:block; text-align:center;" target="_blank"><img style="border: 0;" src="/images/ie8.jpg" /></a>
    <![endif]-->
    <div class="nav-toggle hide-desktop"><span></span><span></span><span></span></div>
    <div id="nav">
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="menu.html">MENU</a></li>
        <li><a href="about.html">ABOUT</a></li>
        <li><a href="functions.html">FUNCTIONS</a></li>
        <li><a href="contact.html">CONTACT</a></li>
        <li class="reservation"><a href="/reservation">RESERVATIONS</a></li>
      </ul>
    </div>
    <div id="content">
      <div class="top"><a href="/" class="icon-logo"></a>
        <div class="top-carousel full-bg fix-top">
          <div class="image-about active"></div>
        </div>
      </div>
      <div class="popup-bg">
        <div class="panel center white">
          <h2 id="ptitle" class="subtitle"></h2><br>
          <p id="ppara"></p>
        </div>
      </div>
      <div class="panel-top white">
        <div class="container">
          <section class="panel full">
            <h1 class="main-title">NEWS + EVENTS</h1>
            <h3 class="subtitle">SIGN UP TO RECEIVE NEWS FROM QUAY</h3>
            <p>Complete the form below to receive information on the latest events, news and special offers at Quay.</p>
          </section>
          <form id="subscribe_form" action="http://email.pollen.com.au/t/r/s/irlhjku/" class="subscribe-form">
            <div class="panel">
              <div class="floatlabel-wrapper">
                <label for="cm-irlhjku-irlhjku">Email address</label>
                <input id="fieldEmail" type="email" placeholder="Eg. john@email.com" name="cm-irlhjku-irlhjku">
              </div>
              <input id="subscribe" type="submit" value="Subscribe" class="button">
              <div class="throbber"></div>
            </div>
          </form>
        </div>
      </div>
      <div class="container">
        <section class="two-columns">
          <div class="column"><img src="../images/events/news-christmas.jpg" alt="Christmas Day Lunch 2014">
            <div class="panel white">
              <div class="underline-title">Christmas Day Lunch 2014</div>
              <div class="date">Dec 25, 2014</div>
              <p>
                 
                5 course Signature Menu with a glass of Charles Heidsieck NV on arrival.<br><br>The cost is $330.00 per person. Children’s menu available for $160.00.<br><br>Payment in full is required at time of booking.<br><br>For further information please call 02 9251 5600 or email <a href="mailto:reservations@quay.com.au" class="email">reservations@quay.com.au</a>
              </p>
            </div>
          </div>
          <div class="column"><img src="../images/events/news-nye2014.jpg" alt="NYE 2014">
            <div class="panel white">
              <div class="underline-title">NYE 2014</div>
              <div class="date">Dec 31, 2014</div>
              <p>
                 
                On arrival guests will receive a glass of Charles Heidsieck NV served with a selection of canapés.
                Six-course signature menu, together with wines expertly matched to each course.<br><br>At the stroke of midnight guests will be treated to a glass of champagne to bring in the New Year.<br><br>The cost is $1250 per person. No children’s price available.<br><br>Payment in full is required at time of booking.<br><br>For further information please call 02 9251 5600 or email <a href="mailto:reservations@quay.com.au" class="email">reservations@quay.com.au</a>
              </p>
            </div>
          </div>
          <div class="column"><img src="../images/events/news-greenroom.jpg" alt="Greenroom NYE 2014">
            <div class="panel white">
              <div class="underline-title">Greenroom NYE 2014</div>
              <div class="date">Dec 31, 2014</div>
              <p>
                 
                Cocktails in style – Green Room<br><br>The evening will commence at 8pm and conclude at 1am.<br><br>On arrival guests will be served Quay cocktails and sparkling wine.  Sumptuous canapés and premium wines selected by our sommelier Amanda Yallop will flow into the night.
              </p>
            </div>
          </div>
        </section>
      </div>
      <section class="container">
        <div class="panel full contact">
          <div class="left">
            <p class="address">Upper Level,<br>Overseas Passenger Terminal<br>The Rocks, Sydney 2000</p>
          </div>
          <div class="right"><a href="tel:+61-2-9251-5600" class="tel">(61 2) 9251 5600</a><br><br><br><strong>Lunch service </strong>
            <p>Friday to Sunday from 12pm - 2pm</p><br><strong>Dinner service</strong>
            <p>Daily from 6pm - 10pm</p>
          </div>
          <div class="line"></div>
        </div>
      </section>
      <div class="footer">
        <div class="icon-logo"></div>
        <ul class="footer-nav">
          <li><a href="/reservation">Reservations</a></li>
          <li><a href="functions.html">Functions</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="reviews-media.html">Reviews & Media</a></li>
        </ul>
        <ul class="social">
          <li><a href="http://instagram.com/quayrestaurant" target="_blank"><span class="icon-instagram"></span></a></li>
          <li><a href="http://www.youtube.com/user/QuaySydney" target="_blank"><span class="icon-play"></span></a></li>
        </ul>
        <div class="legal">© Quay Restaurant.<br>Site by <a href="http://www.pollen.com.au/" target="_blank">Pollen. </a>Photography by <a href="http://www.brettstevensphotography.com/" target="_blank">Brett Stevens.</a></div>
      </div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-6526479-13', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
      
      // Google Code for Remarketing Tag
      /* <![CDATA[ */
      var google_conversion_id = 965355358;
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;
      /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
    <noscript>
      <div style="display:inline;"><img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/965355358/?value=0&amp;guid=ON&amp;script=0"></div>
    </noscript>
    <!-- build:js(app) /scripts/vendor.js-->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/fastclick/lib/fastclick.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/pickadate/lib/picker.js"></script>
    <script src="/bower_components/pickadate/lib/picker.date.js"></script>
    <script src="/bower_components/fitvids/jquery.fitvids.js"></script>
    <!-- endbuild-->
    
    <!-- build:js({.tmp,app}) /scripts/scripts.js-->
    <script src="/scripts/raf.js"></script>
    <script src="/scripts/router.js"></script>
    <script src="/scripts/prettyembed.js"></script>
    <script src="/scripts/popup.js"></script>
    <script src="/scripts/carousel.js"></script>
    <script src="/scripts/menu.js"></script>
    <script src="/scripts/nav.js"></script>
    <script src="/scripts/collapse.js"></script>
    <script src="/scripts/map.js"></script>
    <script src="/scripts/main.js"></script>
    <script src="/scripts/reservation.js"></script>
    <script src="/scripts/selectordie.js"></script>
    <!-- endbuild-->
  </body>
</html>

app/views/news-events.jade
block vars
  - var title = "Quay restaurant"
  - var description = "At Quay our aim is to provide a truly memorable dining experience. An experience that celebrates the diversity of our wonderful Australian ingredients cooked with imagination and passion."
  - var page = "news"

extends partials/layout
include partials/top

block content
  +top(['image-about'], true)
  
  .popup-bg
    .panel.center.white
      h2#ptitle.subtitle
      br
      p#ppara

  .panel-top.white
    .container
      section.panel.full
        h1.main-title
          | NEWS + EVENTS
        h3.subtitle
          | SIGN UP TO RECEIVE NEWS FROM QUAY
        p
          | Complete the form below to receive information on the latest events, news and special offers at Quay.
      form#subscribe_form.subscribe-form(action="http://email.pollen.com.au/t/r/s/irlhjku/")
        .panel
          .floatlabel-wrapper
            label(for='cm-irlhjku-irlhjku') Email address
            input#fieldEmail(type='email', placeholder='Eg. john@email.com', name='cm-irlhjku-irlhjku')

          input#subscribe.button(type="submit", value="Subscribe")
          .throbber

  .container
    section.two-columns
      
      .column
        img(src="../images/events/news-christmas.jpg", alt="Christmas Day Lunch 2014")
        .panel.white
          .underline-title Christmas Day Lunch 2014
          .date Dec 25, 2014
          p 
            | 5 course Signature Menu with a glass of Charles Heidsieck NV on arrival.
            br
            br
            | The cost is $330.00 per person. Children’s menu available for $160.00.
            br
            br
            | Payment in full is required at time of booking.
            br
            br
            | For further information please call 02 9251 5600 or email 
            a.email(href="mailto:reservations@quay.com.au")
              | reservations@quay.com.au

      //- a.column(href="article.html")
      .column
        img(src="../images/events/news-nye2014.jpg", alt="NYE 2014")
        .panel.white
          .underline-title NYE 2014
          .date Dec 31, 2014
          p 
            | On arrival guests will receive a glass of Charles Heidsieck NV served with a selection of canapés.
            | Six-course signature menu, together with wines expertly matched to each course.
            br
            br
            | At the stroke of midnight guests will be treated to a glass of champagne to bring in the New Year.
            br
            br
            | The cost is $1250 per person. No children’s price available.
            br
            br
            | Payment in full is required at time of booking.
            br
            br
            | For further information please call 02 9251 5600 or email 
            a.email(href="mailto:reservations@quay.com.au")
              | reservations@quay.com.au

      //- a.column(href="article.html")
      .column
        img(src="../images/events/news-greenroom.jpg", alt="Greenroom NYE 2014")
        .panel.white
          .underline-title Greenroom NYE 2014
          .date Dec 31, 2014
          p 
            | Cocktails in style – Green Room
            br
            br
            | The evening will commence at 8pm and conclude at 1am.
            br
            br
            | On arrival guests will be served Quay cocktails and sparkling wine.  Sumptuous canapés and premium wines selected by our sommelier Amanda Yallop will flow into the night.


  include partials/contact
