app/reservation.html
<!DOCTYPE html>
<!-- [if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!-- [if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!-- [if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!-- [if gt IE 8]><!-->
<html ng-app="pollenApp" class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <base href="/">
    <title>Quay Restaurant</title>
    <meta name="description" content="Quay Restaurant is Australia's most awarded restaurant, and one of two Australian restaurants on the prestigious S. Pellegrino World's Top 50 List. Owned and operated by the Fink Group, the restaurant offers outstanding modern cuisine by award winning chef Peter Gilmore, and is situated in the stunning dress circle of Sydney Harbour.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui ,user-scalable=no">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="favicon-128.png" sizes="128x128">
    <meta name="google-site-verification" content="tfMV1epfpTJQ7IBfO2gNoU5-6G4IV9SB-BhD4b_mHjc">
    <meta name="keywords" content="Quay Restaurant, Fink Group, Chef Peter Gilmore, S.Pellegrino World's Top 50, Nature Based Cuisine, Functions, Weddings, Corporate Events, John Fink, Leon Fink">
    <meta property="og:title" content="Quay restaurant">
    <meta property="og:type" content="place">
    <meta property="og:description" content="At Quay our aim is to provide a truly memorable dining experience. An experience that celebrates the diversity of our wonderful Australian ingredients cooked with imagination and passion.">
    <meta property="og:site_name" content="Quay restaurant">
    <meta property="article:author" content="https://www.facebook.com/pages/Quay-Restaurant/114127581932410">
    <meta property="article:publisher" content="https://www.facebook.com/pages/Quay-Restaurant/114127581932410">
    <meta property="place:location:latitude" content="-33.858018">
    <meta property="place:location:longitude" content="151.210091">
    <meta property="og:url" content="http://www.quay.com.au">
    <meta name="twitter:image:src" content="http://www.quay.com.au/images/twitter.jpg">
    <meta property="og:image" content="http://www.quay.com.au/images/facebook.jpg">
    <!-- build:css({.tmp,app}) /styles/main.css-->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- endbuild-->
    <script type="text/javascript" src="//use.typekit.net/bmo5vxg.js"></script>
    <script>
      try{Typekit.load();}catch(e){}
      
    </script>
  </head>
  <body class="page-reservation">
    <!--[if lt IE 9]>
    <style>body{height: 880px !important;}#nav,#content{display:none;}*{margin: 0;}img{width: 100%;}</style>
    <a href="http://browsehappy.com/" style="display:block; text-align:center;" target="_blank"><img style="border: 0;" src="/images/ie8.jpg" /></a>
    <![endif]-->
    <div class="nav-toggle hide-desktop"><span></span><span></span><span></span></div>
    <div id="nav">
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="menu.html">MENU</a></li>
        <li><a href="about.html">ABOUT</a></li>
        <li><a href="functions.html">FUNCTIONS</a></li>
        <li><a href="contact.html">CONTACT</a></li>
        <li class="active reservation"><a href="/reservation">RESERVATIONS</a></li>
      </ul>
    </div>
    <div id="content">
      <div class="top"><a href="/" class="icon-logo"></a>
        <div class="top-carousel">
          <div class="dish-chocethereal active"></div>
          <div class="dish-quail"></div>
          <div class="dish-xosea"></div>
          <div class="dish-blackpudding"></div>
        </div>
        <ul class="carousel-controler">
          <li class=" active"><span></span></li>
          <li><span></span></li>
          <li><span></span></li>
          <li><span></span></li>
        </ul>
      </div>
      <div class="popup-bg">
        <div class="panel center white">
          <h2 id="ptitle" class="subtitle"></h2><br>
          <p id="ppara"></p>
        </div>
      </div>
      <div class="panel-top white">
        <div class="container">
          <section class="panel full">
            <h1 class="main-title">RESERVATION<br>ENQUIRY</h1>
            <p>Join us at Quay for a truly memorable dining experience in one of Sydney’s most spectacular settings. An experience that celebrates the diversity of our wonderful Australian produce cooked with imagination and passion. <br><br>Quay is open daily for dinner service from 6pm – 10pm. Lunch service is Friday to Sunday, taking bookings from 12pm – 2pm. If you wish to make a booking within the 48 hour period, please contact reservations directly on 02 9251 5600.<br><br>We do receive a high volume of reservations requests daily. Please allow at least 48 hours in which to reply to your request. We do encourage you to contact reservations directly on 02 9251 5600 if you wish to make a booking within the 48 hour period. <br><br>We take bookings no more than 6 months in advance. Friday, Saturday & Sunday evenings are booked out 6 months in advance for bookings of two and four guests. <br><br>If you do have any dietary requirements please mention these when making your reservation online or via the telephone.</p>
          </section>
          <form id="reservation_form" autocomplete="on">
            <div class="panel full first">
              <div class="floatlabel-wrapper push">
                <label for="name">Full name</label>
                <input id="name" type="text" placeholder="Eg. John Smith" name="name">
              </div>
              <div class="floatlabel-wrapper">
                <label for="company">Company Name (optional)</label>
                <input id="company_name" type="text" placeholder="Eg. Quay Restaurant" name="company">
              </div>
              <div class="floatlabel-wrapper push">
                <label for="phone">Phone No.</label>
                <input id="phone" type="tel" placeholder="Eg. 02 9251 5600" name="phone">
              </div>
              <div class="floatlabel-wrapper postcode-wrapper">
                <label for="postcode">Postcode / zip</label>
                <input id="postcode" type="text" placeholder="2000" name="postcode">
              </div>
              <div class="floatlabel-wrapper">
                <label for="hotel_phone">Contact No. in Sydney or hotel</label>
                <input id="contact" type="tel" placeholder="Eg. 02 9251 5600" name="hotel_phone">
              </div>
            </div>
            <div class="panel full dark">
              <div class="floatlabel-wrapper push">
                <label for="id_date">Date of requested reservation</label>
                <input id="id_date" type="text" placeholder="DD / MM / YYYY" name="date" class="datepicker"><span class="icon-calendar"></span>
              </div>
              <div class="radio">
                <label for="period">Time of day</label>
                <div class="radio-wrapper">
                  <input id="lunch" type="radio" name="lunch_dinner" value="lunch">
                  <label for="lunch"><span class="icon-tick"></span>Lunch</label>
                  <input id="dinner" type="radio" name="lunch_dinner" value="dinner">
                  <label for="dinner"><span class="icon-tick"></span>Dinner</label>
                </div>
              </div>
              <div class="floatlabel-wrapper time-select">
                <label for="id_time">Time</label>
                <select id="id_time" type="text" data-placeholder="Select" name="time" class="classic">
                  <option value="12:00">12:00 PM</option>
                  <option value="12:30">12:30 PM</option>
                  <option value="13:00">13:00 PM</option>
                  <option value="13:30">13:30 PM</option>
                  <option value="14:00">14:00 PM</option>
                  <option value="18:00">18:00 PM</option>
                  <option value="18:30">18:30 PM</option>
                  <option value="19:00">19:00 PM</option>
                  <option value="19:30">19:30 PM</option>
                  <option value="20:00">20:00 PM</option>
                  <option value="20:30">20:30 PM</option>
                  <option value="21:00">21:00 PM</option>
                  <option value="21:30">21:30 PM</option>
                  <option value="22:00">22:00 PM</option>
                </select>
              </div>
              <div class="floatlabel-wrapper people-select push">
                <label for="id_num_people">People (max 9)</label>
                <select id="id_num_people" type="text" data-placeholder="Select" name="peoples" class="classic">
                  <option value="one">One</option>
                  <option value="two">Two</option>
                  <option value="three">Three</option>
                  <option value="four">Four</option>
                  <option value="five">Five</option>
                  <option value="six">Six</option>
                  <option value="seven">Seven</option>
                  <option value="eight">Eight</option>
                  <option value="nine">Nine</option>
                </select>
              </div>
              <div class="floatlabel-wrapper">
                <label for="email">Email address</label>
                <input id="email" type="email" placeholder="Eg. john@email.com" name="email">
              </div>
            </div>
            <div class="panel full">
              <div class="floatlabel-wrapper comment-wrapper">
                <label for="id_special_requests">Special requests or comments (optional)</label>
                <input id="id_special_requests" type="text" placeholder="Eg. I have an allergy to peanuts" name="special_requests">
              </div>
              <div class="clear">
                <input id="newsletter" type="checkbox" name="newsletter">
                <label for="newsletter"><span class="icon-tick"></span>Yes I wish to SUBSCRIBE TO the Quay Newsletter</label>
              </div>
            </div>
            <div class="panel full">
              <input id="reservation_form" type="submit" value="submit" name="button" class="button">
              <div class="throbber"></div>
            </div>
          </form>
        </div>
      </div>
      <div class="container">
        <section class="panel white full dresscode">
          <h2 class="title">DRESS CODE</h2>
          <p>The dress code at Quay is smart casual. The dress code is intended to create a pleasant experience for all guests in keeping with our standards of international dining.<br><br>Attire: Please refrain from wearing athletic clothing or footwear. Gentlemen should not wear shorts or sleeveless t-shirts. Footwear: Please refrain from wearing flip flops or ugg boots. Gentlemen should wear fully covered shoes.<br><br>Children are welcome at Quay, although due to the layout of the restaurant we do not have the floor space to accommodate push chairs or prams. Children dining at Quay are the responsibility of their guardian at all time. We require children to remain seated at their table whilst dining at Quay.<br><br>Prams, luggage and large bags can be kept at reception whilst dining. Quay does not take responsibility for any personal items that are lost or damaged whilst dining in the restaurant.</p>
          <div class="line"></div>
          <div class="two-columns">
            <div class="left">
              <h3 class="subtitle">CANCELLATION POLICY</h3><br><br>
              <p>All cancellations must be made via telephone and during the reservation office hours. To avoid incurring a charge lunch bookings must be cancelled prior to 12pm, 24 hours beforehand and dinner bookings by 5pm, 24 hours beforehand.</p>
            </div>
            <div class="left">
              <h3 class="subtitle">CREDIT CARDS</h3><br><br>
              <p>Quay accepts the following credit cards: Mastercard, Visa. American Express and Diners Club. Please note a 1.5% surcharge will be added for all credit and debit card payments.</p>
            </div>
          </div><a href="pdf/quay_cancellation_policy.pdf" target="_blank" class="button">READ MORE</a>
        </section>
      </div>
      <section class="container">
        <div class="panel full dark competiton-promo">
          <div class="left">
            <div class="title">WIN A MASTERCLASS<br>WITH PETER GILMORE</div>
            <div class="line"></div>
            <p>To celebrate the launch of Peter Gilmore’s app for iPad, we’re giving away 4 double-passes to a masterclass with Peter Gilmore.</p>
          </div>
          <div class="right"><a href="http://masterclass.petergilmore.com.au" target="_blank" class="button">ENTER NOW</a>
            <p>Get the Peter Gilmore App for iPad</p><a href="http://app.petergilmore.com.au/?at=1l3vrS7&amp;ct=Quay" target="_blank" class="app-link"></a>
          </div>
        </div>
      </section>
      <section class="container">
        <div class="panel full contact">
          <div class="left">
            <p class="address">Upper Level,<br>Overseas Passenger Terminal<br>The Rocks, Sydney 2000</p>
          </div>
          <div class="right"><a href="tel:+61-2-9251-5600" class="tel">(61 2) 9251 5600</a><br><br><br><strong>Lunch service </strong>
            <p>Friday to Sunday from 12pm - 2pm</p><br><strong>Dinner service</strong>
            <p>Daily from 6pm - 10pm</p>
          </div>
          <div class="line"></div>
        </div>
      </section>
      <div class="footer">
        <div class="icon-logo"></div>
        <ul class="footer-nav">
          <li><a href="/reservation">Reservations</a></li>
          <li><a href="functions.html">Functions</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="reviews-media.html">Reviews & Media</a></li>
        </ul>
        <ul class="social">
          <li><a href="http://instagram.com/quayrestaurant" target="_blank"><span class="icon-instagram"></span></a></li>
          <li><a href="http://www.youtube.com/user/QuaySydney" target="_blank"><span class="icon-play"></span></a></li>
        </ul>
        <div class="legal">© Quay Restaurant.<br>Site by <a href="http://www.pollen.com.au/" target="_blank">Pollen. </a>Photography by <a href="http://www.brettstevensphotography.com/" target="_blank">Brett Stevens.</a></div>
      </div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-6526479-13', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
      
      // Google Code for Remarketing Tag
      /* <![CDATA[ */
      var google_conversion_id = 965355358;
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;
      /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
    <noscript>
      <div style="display:inline;"><img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/965355358/?value=0&amp;guid=ON&amp;script=0"></div>
    </noscript>
    <!-- build:js(app) /scripts/vendor.js-->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/fastclick/lib/fastclick.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/pickadate/lib/picker.js"></script>
    <script src="/bower_components/pickadate/lib/picker.date.js"></script>
    <script src="/bower_components/fitvids/jquery.fitvids.js"></script>
    <!-- endbuild-->
    
    <!-- build:js({.tmp,app}) /scripts/scripts.js-->
    <script src="/scripts/raf.js"></script>
    <script src="/scripts/router.js"></script>
    <script src="/scripts/prettyembed.js"></script>
    <script src="/scripts/popup.js"></script>
    <script src="/scripts/carousel.js"></script>
    <script src="/scripts/menu.js"></script>
    <script src="/scripts/nav.js"></script>
    <script src="/scripts/collapse.js"></script>
    <script src="/scripts/map.js"></script>
    <script src="/scripts/main.js"></script>
    <script src="/scripts/reservation.js"></script>
    <script src="/scripts/selectordie.js"></script>
    <!-- endbuild-->
  </body>
</html>

app/views/reservation.jade
block vars
  - var title = "Quay restaurant"
  - var description = "At Quay our aim is to provide a truly memorable dining experience. An experience that celebrates the diversity of our wonderful Australian ingredients cooked with imagination and passion."
  - var page = "reservation"

extends partials/layout
include partials/top

block content
  
  +top(['dish-chocethereal','dish-quail','dish-xosea','dish-blackpudding'])

  .popup-bg
    .panel.center.white
      h2#ptitle.subtitle
      br
      p#ppara
  .panel-top.white
    .container
      section.panel.full
        h1.main-title
          | RESERVATION
          br
          | ENQUIRY
        p
          | Join us at Quay for a truly memorable dining experience in one of Sydney’s most spectacular settings. An experience that celebrates the diversity of our wonderful Australian produce cooked with imagination and passion. 
          br
          br
          | Quay is open daily for dinner service from 6pm – 10pm. Lunch service is Friday to Sunday, taking bookings from 12pm – 2pm. If you wish to make a booking within the 48 hour period, please contact reservations directly on 02 9251 5600.
          br
          br
          | We do receive a high volume of reservations requests daily. Please allow at least 48 hours in which to reply to your request. We do encourage you to contact reservations directly on 02 9251 5600 if you wish to make a booking within the 48 hour period. 
          br
          br
          | We take bookings no more than 6 months in advance. Friday, Saturday & Sunday evenings are booked out 6 months in advance for bookings of two and four guests. 
          br
          br
          | If you do have any dietary requirements please mention these when making your reservation online or via the telephone.
        
      form#reservation_form(autocomplete='on')
        .panel.full.first
          .floatlabel-wrapper.push
            label(for='name') Full name
            input#name(type='text', placeholder='Eg. John Smith', name='name', )

          .floatlabel-wrapper
            label(for='company') Company Name (optional)
            input#company_name(type='text', placeholder='Eg. Quay Restaurant', name='company')

          .floatlabel-wrapper.push
            label(for='phone') Phone No.
            input#phone(type='tel', placeholder='Eg. 02 9251 5600', name='phone')

          .floatlabel-wrapper.postcode-wrapper
            label(for='postcode') Postcode / zip
            input#postcode(type='text', placeholder='2000', name='postcode')

          .floatlabel-wrapper
            label(for='hotel_phone') Contact No. in Sydney or hotel
            input#contact(type='tel', placeholder='Eg. 02 9251 5600', name='hotel_phone')

        .panel.full.dark
          .floatlabel-wrapper.push
            label(for='id_date') Date of requested reservation
            input#id_date.datepicker(type='text', placeholder='DD / MM / YYYY', name='date')
            span.icon-calendar

          .radio
            label(for='period') Time of day
            .radio-wrapper
              input#lunch(type="radio" name="lunch_dinner" value="lunch")
              label(for="lunch")
                span.icon-tick
                | Lunch
              input#dinner(type="radio" name="lunch_dinner" value="dinner")
              label(for="dinner")
                span.icon-tick
                | Dinner

          .floatlabel-wrapper.time-select
            label(for='id_time') Time
            select.classic#id_time(type='text', data-placeholder='Select', name='time')
              option(value="12:00") 12:00 PM
              option(value="12:30") 12:30 PM
              option(value="13:00") 13:00 PM
              option(value="13:30") 13:30 PM
              option(value="14:00") 14:00 PM
              option(value="18:00") 18:00 PM
              option(value="18:30") 18:30 PM
              option(value="19:00") 19:00 PM
              option(value="19:30") 19:30 PM
              option(value="20:00") 20:00 PM
              option(value="20:30") 20:30 PM
              option(value="21:00") 21:00 PM
              option(value="21:30") 21:30 PM
              option(value="22:00") 22:00 PM
              

          .floatlabel-wrapper.people-select.push
            label(for='id_num_people') People (max 9)
            select.classic#id_num_people(type='text', data-placeholder='Select', name='peoples')
              option(value="one") One
              option(value="two") Two
              option(value="three") Three
              option(value="four") Four
              option(value="five") Five
              option(value="six") Six
              option(value="seven") Seven
              option(value="eight") Eight
              option(value="nine") Nine

          .floatlabel-wrapper
            label(for='email') Email address
            input#email(type='email', placeholder='Eg. john@email.com', name='email')

        .panel.full
          .floatlabel-wrapper.comment-wrapper
            label(for='id_special_requests') Special requests or comments (optional)
            input#id_special_requests(type='text', placeholder='Eg. I have an allergy to peanuts', name='special_requests')
          .clear
            input#newsletter(type="checkbox" name="newsletter")
            label(for="newsletter")
              span.icon-tick
              | Yes I wish to SUBSCRIBE TO the Quay Newsletter

        .panel.full
          input#reservation_form.button(type="submit", value="submit" name="button")
          .throbber
  .container
    section.panel.white.full.dresscode
      h2.title DRESS CODE
      p
        | The dress code at Quay is smart casual. The dress code is intended to create a pleasant experience for all guests in keeping with our standards of international dining.
        br
        br
        | Attire: Please refrain from wearing athletic clothing or footwear. Gentlemen should not wear shorts or sleeveless t-shirts. Footwear: Please refrain from wearing flip flops or ugg boots. Gentlemen should wear fully covered shoes.
        br
        br
        | Children are welcome at Quay, although due to the layout of the restaurant we do not have the floor space to accommodate push chairs or prams. Children dining at Quay are the responsibility of their guardian at all time. We require children to remain seated at their table whilst dining at Quay.
        br
        br
        | Prams, luggage and large bags can be kept at reception whilst dining. Quay does not take responsibility for any personal items that are lost or damaged whilst dining in the restaurant.

      .line

      .two-columns
        .left
          h3.subtitle CANCELLATION POLICY
          br
          br
          p All cancellations must be made via telephone and during the reservation office hours. To avoid incurring a charge lunch bookings must be cancelled prior to 12pm, 24 hours beforehand and dinner bookings by 5pm, 24 hours beforehand.
        .left
          h3.subtitle CREDIT CARDS
          br
          br
          p Quay accepts the following credit cards: Mastercard, Visa. American Express and Diners Club. Please note a 1.5% surcharge will be added for all credit and debit card payments.

      a.button(href="pdf/quay_cancellation_policy.pdf" target="_blank")
        | READ MORE

  include partials/competition
  include partials/contact
